<mat-card>
    <mat-card-header class="bg-primary text-white">
        <mat-card-title-group>
            <mat-card-title fxLayout="row">
                Kyc Details
            </mat-card-title>
        </mat-card-title-group>
        <!-- <div fxFlex="fxFlex"></div> -->
        <button mat-icon-button class="srh-btn2 iconsetter" (click)="cancel()">
            <mat-icon>clear</mat-icon>
        </button>
        <!-- <div fxFlex="fxFlex"></div> -->
    </mat-card-header>
    <mat-card-content>
        <mat-horizontal-stepper [linear]="isLinear">
            <mat-step [stepControl]="firstFormGroup">
                <form [formGroup]="firstFormGroup">
                    <ng-template matStepLabel>Fill out your details</ng-template>
                    <mat-form-field>
                        <mat-select placeholder="Select Country" name="country" formControlName="country">
                            <mat-option *ngFor="let x of countries.results" [value]="x.value">{{x.value}}</mat-option>
                        </mat-select>
                    </mat-form-field>

                    <mat-form-field>
                        <mat-select placeholder="Select ID Type" name="idtype" formControlName="idtype">
                            <mat-option *ngFor="let x of idType" [value]="x">{{x}}</mat-option>
                        </mat-select>
                    </mat-form-field>

                    <mat-form-field>
                        <input matInput placeholder="Card Number" formControlName="cardnumber" required>
                    </mat-form-field>

                    <mat-form-field>
                        <input formControlName="issuedate" matInput [matDatepicker]="issuedate" placeholder="ID Issue Date" disabled>
                        <mat-datepicker-toggle matSuffix [for]="issuedate"></mat-datepicker-toggle>
                        <mat-datepicker #issuedate disabled="false"></mat-datepicker>
                    </mat-form-field>
                    <!--  -->

                    <mat-form-field *ngIf="!istrn">
                        <input matInput placeholder="Tax Reference Number" formControlName="taxnumber">
                    </mat-form-field>
                    <label>I don't have TRN: </label>
                    <mat-checkbox formControlName="istrn" [(ngModel)]="istrn"></mat-checkbox>
                    <div style="margin-top: 20px;">
                        <button mat-raised-button color="warn" matStepperNext>Next</button>
                    </div>
                </form>
            </mat-step>
            <mat-step [stepControl]="secondFormGroup">
                <form [formGroup]="secondFormGroup">
                    <ng-template matStepLabel>Upload your Documents</ng-template>
                    <div class="mat-form-field" fxLayout="row" fxLayoutWrap="wrap">
                      <div class='upload' (dragover)="onDragOver($event)" (dragleave)="onDragLeave($event)" (drop)="onDrop($event)" onclick="document.getElementById('FileInput').click()">
                  <!-- <div class='upload' (dragover)="onDragOver($event)" (dragleave)="onDragLeave($event)" (drop)="onDrop($event)" onclick="document.getElementById('FileInput').click()"> -->
                          <h4 style="padding-top: 35px; color: #555682;">Drag &amp; Drop Documents</h4>
                      </div>
                    </div>
                        <input type="file" id="FileInput" multiple (change)="uploadDoc($event);" accept="image/*" />
                    <div class="mat-form-field" fxLayout="row" fxLayoutWrap="wrap" *ngIf="uploadedimgs && uploadedimgs.length">
                        <div fxFlex.gt-sm="100%" fxFlex="100">
                            <h4>Uploaded Documents</h4>
                        </div>
                        <div class="scrollmenu">
                                <a *ngFor="let z of uploadedimgs;let i=index;">
                                    <img mat-card-avatar style="height: 150px;width: 150px;border-radius:0%;" src="{{z}}" *ngIf="z">
                                    <mat-icon *ngIf="i>0" class="mat-icon material-icons crosssymbol" (click)="removeDoc(i);">clear</mat-icon>
                                    <!-- <button mat-mini-fab class="mat-mini-fab mat-warn crosssymbol" color="warn" (click)="removeDoc(i);" *ngIf="i>0">
                                        <mat-icon >clear</mat-icon> 
                                    </button> -->

                                </a>
                        </div>
                    </div>
                    <div class="mat-form-field" fxLayout="row" fxLayoutWrap="wrap" *ngIf="deletedscandoc && deletedscandoc.length" >
                            <div fxFlex.gt-sm="100%" fxFlex="100">
                                <h4>Deleted Documents</h4>
                            </div>
                            <div  class="scrollmenu">
                                    <a *ngFor="let z of deletedscandoc;let i=index;">
                                        <img mat-card-avatar style="height: 150px;width: 150px;border-radius:0%;" src="{{ z.image}}" *ngIf="z">
                                        <mat-icon class="mat-icon material-icons crosssymbol" (click)="removeDeletedDoc(i);">clear</mat-icon>
                                    </a>
                            </div>
                        </div>

                    <div style="margin-top: 20px;">
                        <button mat-raised-button color="accent" matStepperPrevious>Back</button>
                        <button mat-raised-button color="warn" [disabled]="!firstFormGroup.valid || !secondFormGroup.valid" (click)="finalsubmittion()">Save & Submit</button>
                    </div>
                </form>
            </mat-step>
        </mat-horizontal-stepper>

    </mat-card-content>
</mat-card>
