#for front modules
/PureEquityClient/node_modules/
/PureEquityClient/PureEquity/
/PureEquityClient/package-lock.json


#for server modules
/PureEquityServer/node_modules/
/PureEquityServer/package-lock.json
/PureEquityServer/uploads/users/profileImage/

#Ignore Documents
/PureEquityServer/uploads/users/documents/