<!-- ============================================================== -->
<!-- Simple four boxes Row -->
<!-- ============================================================== -->
<div fxLayout="row" fxLayoutWrap="wrap">
    <!-- column -->
    <div fxFlex.gt-sm="25" fxFlex.gt-xs="25" fxFlex="25">
        <mat-card>
            <mat-card-content>
                <!-- Row -->
                <div class="d-flex no-block">
                    <!-- column -->
                    <div class="m-r-10 no-shrink">
                        <button mat-fab mat-card-icon class="shadow-none bg-inverse  bg-success">
                            <mat-icon>account_circle</mat-icon>
                        </button>
                    </div>
                    <!-- column -->
                    <div>
                        <h3 class="m-0">Users</h3>
                        <h3 class="m-0">{{timer.hours}}</h3>
                        <!-- <h6 class="text-muted m-0">Hours</h6> -->
                    </div>

                </div>
            </mat-card-content>
        </mat-card>
    </div>
    <!-- column -->
    <!-- column -->
    <div fxFlex.gt-sm="25" fxFlex.gt-xs="25" fxFlex="25">
        <mat-card>
            <mat-card-content>
                <!-- Row -->
                <div class="d-flex no-block">
                    <!-- column -->
                    <div class="m-r-10 no-shrink">
                        <button mat-fab color="warn" mat-card-icon class="shadow-none  bg-warning">
                            <mat-icon>local_mall</mat-icon>
                        </button>
                    </div>
                    <!-- column -->
                    <div>
                        <h3 class="m-0">Transactions</h3>
                        <h3 class="m-0">{{timer.minutes}}</h3>
                        <!-- <h6 class="text-muted m-0">Minutes</h6> -->
                    </div>

                </div>
            </mat-card-content>
        </mat-card>
    </div>
    <!-- column -->
    <!-- column -->
    <div fxFlex.gt-sm="25" fxFlex.gt-xs="25" fxFlex="25">
        <mat-card>
            <mat-card-content>
                <!-- Row -->
                <div class="d-flex no-block">
                    <!-- column -->
                    <div class="m-r-10 no-shrink">
                        <button mat-fab color="accent" mat-card-icon class="shadow-none">
                            <mat-icon>stars</mat-icon>
                        </button>
                    </div>
                    <!-- column -->
                    <div>
                        <h3 class="m-0">Withdrawls</h3>
                        <h3 class="m-0">{{timer.seconds}}</h3>
                        <!-- <h6 class="text-muted m-0">Seconds</h6> -->
                    </div>

                </div>
            </mat-card-content>
        </mat-card>
    </div>
    <!-- column -->
    <!-- column -->
    <div fxFlex.gt-sm="25" fxFlex.gt-xs="25" fxFlex="25">
        <mat-card>
            <mat-card-content>
                <!-- Row -->
                <div class="d-flex no-block">
                    <!-- column -->
                    <div class="m-r-10 no-shrink">
                        <button mat-fab color="warn" mat-card-icon class="shadow-none bg-danger">
                            <mat-icon>content_paste</mat-icon>
                        </button>
                    </div>
                    <!-- column -->
                    <div>
                        <h3 class="m-0">Deposits</h3>
                        <h3 class="m-0">{{timer.micros}}</h3>
                        <!-- <h6 class="text-muted m-0">Milliseconds</h6> -->
                    </div>

                </div>
            </mat-card-content>
        </mat-card>
    </div>
    <!-- column -->
</div>

<!-- <div fxLayout="row" fxLayoutWrap="wrap" *ngIf="hasPermission">
    <div fxFlex.gt-sm="25" fxFlex.gt-xs="25" fxFlex="25">
        <mat-card class="bg-purple">
            <mat-card-content>
                <div class="d-flex p-t-20 p-b-20 no-block align-items-center">
                    <div class="stats">
                        <h3 class="text-white m-0">Product Profit</h3>
                        <h1 class="text-white m-0">37%</h1>
                    </div>
                    <div class="spark-count ml-auto"></div>
                </div>
            </mat-card-content>
        </mat-card>
    </div>
    <div fxFlex.gt-sm="25" fxFlex.gt-xs="25" fxFlex="25">
        <mat-card class="bg-purple">
            <mat-card-content>
                <div class="d-flex p-t-20 p-b-20 no-block align-items-center">
                    <div class="stats">
                        <h3 class="text-white m-0">Total Orders</h3>
                        <h1 class="text-white m-0">15%</h1>
                    </div>
                    <div class="spark-count ml-auto"></div>
                </div>
            </mat-card-content>
        </mat-card>
    </div>
    <div fxFlex.gt-sm="25" fxFlex.gt-xs="25" fxFlex="25">
        <mat-card class="bg-purple">
            <mat-card-content>
                <div class="d-flex p-t-20 p-b-20 no-block align-items-center">
                    <div class="stats">
                        <h3 class="text-white m-0">Refunds</h3>
                        <h1 class="text-white m-0">-7%</h1>
                    </div>
                    <div class="spark-count ml-auto"></div>
                </div>
            </mat-card-content>
        </mat-card>
    </div>
    <div fxFlex.gt-sm="25" fxFlex.gt-xs="25" fxFlex="25">
        <mat-card class="bg-purple">
            <mat-card-content>
                <div class="d-flex p-t-20 p-b-20 no-block align-items-center">
                    <div class="stats">
                        <h3 class="text-white m-0">Customers</h3>
                        <h1 class="text-white m-0">13%</h1>
                    </div>
                    <div class="spark-count ml-auto"></div>
                </div>
            </mat-card-content>
        </mat-card>
    </div>
</div> -->
<div fxLayout="row" fxLayoutWrap="wrap" *ngIf="hasPermission">
    <div fxFlex.gt-sm="25" fxFlex.gt-xs="25" fxFlex="25">
        <mat-card class="bg-info customChart">
            <mat-card-content>
                <div class="d-flex no-block align-items-center">
                    <div class="stats">
                        <h3 class="text-white m-0">Product Profit</h3>
                        <h6 class="text-white m-t-0">March 2017</h6>
                        <h1 class="text-white m-0">187</h1>
                    </div>
                    <div class="spark-count ml-auto"></div>
                </div>
            </mat-card-content>
        </mat-card>
    </div>
    <div fxFlex.gt-sm="25" fxFlex.gt-xs="25" fxFlex="25">
        <mat-card class="bg-purple customChart">
            <mat-card-content>
                <div class="d-flex no-block align-items-center">
                    <div class="stats">
                        <h3 class="text-white m-0">Total Orders</h3>
                        <h6 class="text-white m-t-0">March 2017</h6>
                        <h1 class="text-white m-0">357</h1>
                    </div>
                    <div class="spark-count ml-auto"></div>
                </div>
            </mat-card-content>
        </mat-card>
    </div>
    <div fxFlex.gt-sm="25" fxFlex.gt-xs="25" fxFlex="25">
        <mat-card class="bg-success customChart">
            <mat-card-content>
                <div class="d-flex no-block align-items-center">
                    <div class="stats">
                        <h3 class="text-white m-0">Refunds</h3>
                        <h6 class="text-white m-t-0">March 2018</h6>
                        <h1 class="text-white m-0">37</h1>
                    </div>
                    <div class="spark-count ml-auto"></div>
                </div>
            </mat-card-content>
        </mat-card>
    </div>
    <div fxFlex.gt-sm="25" fxFlex.gt-xs="25" fxFlex="25">
        <mat-card class="bg-purple customChart">
            <mat-card-content>
                <div class="d-flex no-block align-items-center">
                    <div class="stats">
                        <h3 class="text-white m-0">Customers</h3>
                        <h6 class="text-white m-t-0">March 2018</h6>
                        <h1 class="text-white m-0">347</h1>
                    </div>
                    <div class="spark-count ml-auto"></div>
                </div>
            </mat-card-content>
        </mat-card>
    </div>
</div>

<!-- Actual Dashboard Layout -->
<!-- <div fxLayout="row" fxLayoutWrap="wrap">
    <div fxFlex.gt-sm="100" fxFlex.gt-xs="100" fxFlex="100">
        <mat-card>
            <mat-card-content style="font-size: smaller; float: left; width: 100%; background:#fff; ">
                <div class="row">
                    <div *ngFor="let list of tradeList; let i = index" class="padding-10 {{(list.isActive)? 'active' : 'non-active'}}" (click)="toggleValue(i);">
                        <label>
                            {{list.name}}</label>
                    </div>
                </div>
            </mat-card-content>
        </mat-card>
    </div>
</div> -->
<!-- ============================================================== -->
<!-- Charts -->
<!-- ============================================================== -->
<div fxLayout="row" fxLayoutWrap="wrap">
    <!-- Column-->
    <div fxFlex.gt-lg="100" fxFlex.gt-md="100" fxFlex.gt-xs="100" fxFlex="100">
        <mat-card>
            <mat-card-content id="chart-card-content">
                <!-- <mat-card-title>Sales Overview</mat-card-title> -->
                <!-- <mat-card-subtitle></mat-card-subtitle> -->
                <!-- <div class="r-100 f-r">
                </div> -->
                <div fxLayout="row" fxLayoutWrap="wrap">
                    <!-- <div layout="row" layout-align="start center" flex>
                        <md-button class="md-primary">Submit</md-button>
                        <span flex></span>
                    </div>
                    <md-button class="md-warn">Cancel</md-button>
                    <md-button class="md-warn">Delete Boundary Partner Type</md-button> -->
                    <!-- <button mat-button [matMenuTriggerFor]="menu" (menuClosed)="drawGraph()">{{tradeCoin}}</button>
                    <mat-menu #menu="matMenu">
                        <button mat-menu-item *ngFor="let list of tradeList; let i = index" class="{{(list.isActive)? 'mat-menu-item ng-star-inserted active ' : 'mat-menu-item ng-star-inserted non-active'}}" (click)="toggleValue(i);">{{list.name}}</button>
                    </mat-menu> -->
                    <div fxFlex.gt-lg="80" fxFlex.gt-md="80" fxFlex.gt-xs="80" fxFlex="80">
                    </div>
                    <div fxFlex.gt-lg="20" fxFlex.gt-md="20" fxFlex.gt-xs="20" fxFlex="20">
                        <mat-form-field>
                            <mat-select placeholder="Select Coin" [(ngModel)]="selectedValue" (ngModelChange)="graphSetter($event)">
                                <mat-option *ngFor="let list of tradeList; let i = index" [value]="list.value">
                                    {{list.name}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                </div>
                <div fxLayout="row" fxLayoutWrap="wrap">
                    <div fxFlex.gt-lg="100" fxFlex.gt-md="100" fxFlex.gt-xs="100" fxFlex="100">
                        <mat-card>
                            <mat-card-content>
                                    <canvas baseChart height="130" [datasets]="lineChartData" [labels]="lineChartLabels" [options]="lineChartOptions" [colors]="lineChartColors" [legend]="lineChartLegend" [chartType]="lineChartType" (chartHover)="chartHovered($event)" (chartClick)="chartClicked($event)">
                                        </canvas>
                            </mat-card-content>
                        </mat-card>
                    </div>
                </div>
                <!-- <div class="barchrt-scroll">
                    <div class="barchrt" style="height:490px;">
                        <div class="linearea" style="height:480px;">
                            <x-chartist [data]="lineChart1.data" [type]="lineChart1.type" [options]="lineChart1.options" [responsiveOptions]="lineChartOptions.responsive"> </x-chartist>
                        </div> -->
                        <!-- <div id="container" style="height: 370px; min-width: 310px"></div> -->
                        <!-- <ngx-charts-line-chart [view]="view" [scheme]="colorScheme"
                        [results]="multi" [gradient]="gradient" [xAxis]="showXAxis" [yAxis]="showYAxis"
                        [xAxisLabel]="xAxisLabel" [yAxisLabel]="yAxisLabel" [autoScale]="autoScale"
                        (select)="onSelect($event)"> </ngx-charts-line-chart> -->
                    <!-- </div>
                </div> -->
                <!-- <ul class="list-inline text-center"> <li> <h6 class="text-muted
                text-success m-0"> <i class="fa fa-circle font-10 m-r-10 "></i>Ample</h6> </li>
                <li> <h6 class="text-muted text-info m-0"> <i class="fa fa-circle font-10
                m-r-10"></i>Pixel</h6> </li> </ul> -->
            </mat-card-content>
        </mat-card>
    </div>
    <!-- <div fxFlex.gt-lg="40" fxFlex.gt-md="35" fxFlex.gt-xs="40" fxFlex="100">
        <mat-card>
            <mat-card-header class="bg-primary text-white">
                <mat-card-title>Latest Transaction </mat-card-title>
                <mat-card-subtitle>{{tradeCoin}}</mat-card-subtitle>
            </mat-card-header>
            <mat-card-content>
                <div class="table-25">
                    <table style="width: 100%; text-align: left; padding: 0 0 0 0; margin-bottom: 0;">
                        <thead>
                            <tr>
                                <th>Amount</th>
                                <th>Price</th>
                                <th>Time</th>
                            </tr>
                        </thead>
                        <tbody *ngFor="let list of tradeList; let i = index" class="{{(list.isActive)? 'acitve' : 'inactive'}}">
                            <tr *ngFor="let t of list.data">
                                <td *ngIf="list.isActive && t.amount"> {{t.amount}}</td>
                                <td *ngIf="list.isActive && t.price" style="color:green;"> {{t.price}}</td>
                                <td *ngIf="list.isActive && t.date"> {{t.date * 1000 | date:'h:mm:ss a'}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </mat-card-content>
        </mat-card>
    </div> -->
</div>

<!-- <div fxLayout="row" fxLayoutWrap="wrap">
    <div fxFlex.gt-lg="100" fxFlex.gt-md="100" fxFlex.gt-xs="100" fxFlex="100">
        <mat-card>
            <mat-card-content>
                    <canvas baseChart height="130" [datasets]="lineChartData" [labels]="lineChartLabels" [options]="lineChartOptions" [colors]="lineChartColors" [legend]="lineChartLegend" [chartType]="lineChartType" (chartHover)="chartHovered($event)" (chartClick)="chartClicked($event)">
                        </canvas>
            </mat-card-content>
        </mat-card>
    </div>
</div> -->