.mat-dialog-container, .mat-dialog-container {
  padding: 0 !important;
}

img {
  height: 100%;
  width: 100%;
}


/* The Close Button */
.close {
  position: absolute;
  top: 0;
  right: 0px;
  color: #ffffff;
  font-size: 33px;
  font-weight: 300;
  transition: 0.3s;
  z-index: 1000000;
  background-color: #555682;
  line-height: 30px;
  padding: 3px 10px;
}

.close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}
.mat-dialog-container app-image-modal.ng-star-inserted {
  display: block;
  position: relative;
}