<div fxFlex.gt-sm="50%" fxFlex="50">
    <mat-card>
        <mat-card-header class="bg-primary text-white">
            <mat-card-title>Buy {{activeTrade.name.slice(0,3)}}</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <div style="text-align:center;">
                <span>Available : {{activeMoneyBalance.balance}} {{activeMoneyBalance.coin | uppercase}} </span>
                <form [formGroup]="limitOrderBuyForm">
                    <div fxLayout="row" fxLayoutWrap="wrap">
                        <mat-form-field>
                            <input matInput type="number" placeholder="Amount To Buy" [formControl]="limitOrderBuyForm.controls['amount']">
                            <small *ngIf="limitOrderBuyForm.controls['amount'].hasError('required') && limitOrderBuyForm.controls['amount'].touched"
                                class="text-danger support-text">Amount is required.</small>
                        </mat-form-field>
                        <mat-form-field>
                            <input matInput type="number" placeholder="Buy Price" [formControl]="limitOrderBuyForm.controls['buyprice']">
                            <small *ngIf="limitOrderBuyForm.controls['buyprice'].hasError('required') && limitOrderBuyForm.controls['buyprice'].touched"
                                class="text-danger support-text">Price is required.</small>
                        </mat-form-field>
                        <div fxFlex.gt-sm="100" fxFlex.gt-xs="100" fxFlex="100">
                            <h3 style="width: 50%;float: left;"> Total </h3>
                            <h3 style="width: 50%;float: right;"> {{total.buy}} {{activeTrade.name.slice(6,9)}} </h3>
                        </div>

                        <div fxFlex.gt-sm="100" fxFlex.gt-xs="100" fxFlex="100">
                            <button mat-raised-button color="warn" class="btn-block btn-lg m-t-20 m-b-20" type="button" (click)="buy()" >
                                BUY {{activeTrade.name.slice(0,3)}}
                            </button>
                        </div>

                    </div>
                </form>
            </div>

        </mat-card-content>
    </mat-card>
</div>
<div fxFlex.gt-sm="11%" fxFlex="11" class="customizedCss">
    <mat-card  class="mat-card-elevation-z0">
        <mat-card-content style="background-color: #555581;color: #fff;padding-left: 13px; font-size: 30px;">
            OR
        </mat-card-content>
    </mat-card>
</div>
<div fxFlex.gt-sm="50%" fxFlex="50">
    <mat-card>
        <mat-card-header class="bg-primary text-white">
            <mat-card-title>Sell {{activeTrade.name.slice(0,3)}}</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <div style="text-align:center;">
                <span>Available : {{activeCoinBalance.balance}} {{activeCoinBalance.coin | uppercase}}</span>
                <form [formGroup]="limitOrderSellForm">
                    <div fxLayout="row" fxLayoutWrap="wrap">
                        <mat-form-field>
                            <input matInput type="number" placeholder="Amount To Sell" [formControl]="limitOrderSellForm.controls['amount']">
                            <small *ngIf="limitOrderSellForm.controls['amount'].hasError('required') && limitOrderSellForm.controls['amount'].touched"
                                class="text-danger support-text">Amount is required.</small>
                        </mat-form-field>
                        <mat-form-field>
                            <input matInput type="number" placeholder="Sell Price" [formControl]="limitOrderSellForm.controls['sellprice']">
                            <small *ngIf="limitOrderSellForm.controls['sellprice'].hasError('required') && limitOrderSellForm.controls['sellprice'].touched"
                                class="text-danger support-text">Price is required.</small>
                        </mat-form-field>
                        <div fxFlex.gt-sm="100" fxFlex.gt-xs="100" fxFlex="100">
                            <h3 style="width: 50%;float: left;"> Total </h3>
                            <h3 style="width: 50%;float: right;"> {{total.sell}} {{activeTrade.name.slice(6,9)}} </h3>
                        </div>

                        <div fxFlex.gt-sm="100" fxFlex.gt-xs="100" fxFlex="100">
                            <button mat-raised-button color="warn" class="btn-block btn-lg m-t-20 m-b-20" type="button" (click)="sell()">
                                SELL {{activeTrade.name.slice(0,3)}}
                            </button>
                        </div>

                    </div>
                </form>
            </div>
        </mat-card-content>
    </mat-card>
</div>
