<div fxLayout="row" fxLayoutWrap="wrap">
    <div fxFlex.gt-sm="33%" fxFlex="33">
        <mat-card @card *ngIf="!isbankdetails">
            <mat-card-header class="bg-primary text-white">
                <mat-card-title-group>
                    <mat-card-title fxLayout="row">
                        Bank Details
                    </mat-card-title>
                </mat-card-title-group>
            </mat-card-header>
            <mat-card-content>
                <form [formGroup]="bankdetails">
                    <mat-form-field>
                        <input matInput="matInput" placeholder="Account Number" formControlName="acnumber" required="required">
                    </mat-form-field>
                    <div fxLayout="row" fxLayoutWrap="wrap">
                        <div fxFlex.gt-sm="70%" fxFlex="70">
                            <mat-form-field>
                               <input matInput="matInput" placeholder="Bank IFSC" formControlName="ifscnumber" required="required">
                            </mat-form-field>
                        </div>
                        <div fxFlex.gt-sm="30%" fxFlex="30">
                            <button mat-raised-button="mat-raised-button" color="accent" (click)="checkifsc()">Check IFSC</button>
                        </div>
                    </div>
                    <mat-form-field>
                        <mat-select placeholder="Account Type" name="actype" formControlName="actype">
                            <mat-option *ngFor="let x of actype" [value]="x">{{x}}</mat-option>
                        </mat-select>
                    </mat-form-field>
                    <mat-form-field>
                        <input matInput="matInput" placeholder="Your Name" formControlName="name" required="required">
                    </mat-form-field>
                    <mat-form-field>
                        <mat-select placeholder="Bank Document" name="bankdoctype" formControlName="bankdoctype">
                            <mat-option *ngFor="let y of bankdoctype" [value]="y">{{y}}</mat-option>
                        </mat-select>
                    </mat-form-field>
                    <mat-checkbox formControlName="isagreed" [(ngModel)]="isagreed">Agree Terms & conditions</mat-checkbox>
                    <div style="text-align: center;margin-top:5%;">
                      <button mat-raised-button="mat-raised-button" (click)="saveBank()" color="accent">Save</button>
                      <!-- <button mat-raised-button="mat-raised-button" color="accent">Cancel</button> -->
                    </div>
                  </form>
            </mat-card-content>
        </mat-card>
        <mat-card @card *ngIf="isbankdetails">
            <mat-card-header class="bg-primary text-white">
                <mat-card-title-group>
                    <mat-card-title fxLayout="row">
                        Saved Bank Details
                    </mat-card-title>
                </mat-card-title-group>
                <div fxFlex="fxFlex"></div>
                <button mat-fab color="primary" @card class="half-header" bottom (click)="isbankdetails = !isbankdetails">
                    <mat-icon class="mat-icon material-icons" role="img">edit</mat-icon>
                </button>
            </mat-card-header>
            <mat-card-content>
                <form [formGroup]="savedbankdetails">
                    <mat-form-field>
                        <input matInput="matInput" placeholder="Account Number" formControlName="acnumber" required="required">
                    </mat-form-field>
                    <div fxLayout="row" fxLayoutWrap="wrap">
                        <div fxFlex.gt-sm="100%" fxFlex="100">
                            <mat-form-field>
                               <input matInput="matInput" placeholder="Bank IFSC" formControlName="ifscnumber" required="required">
                            </mat-form-field>
                        </div>
                        <!-- <div fxFlex.gt-sm="30%" fxFlex="30">
                            <button mat-raised-button="mat-raised-button" color="accent" (click)="checkifsc()">Check IFSC</button>
                        </div> -->
                    </div>
                    <mat-form-field>
                        <mat-select placeholder="Account Type" name="actype" formControlName="actype">
                            <mat-option *ngFor="let x of actype" [value]="x">{{x}}</mat-option>
                        </mat-select>
                    </mat-form-field>
                    <mat-form-field>
                        <input matInput="matInput" placeholder="Your Name" formControlName="name" required="required">
                    </mat-form-field>
                    <mat-form-field>
                        <mat-select placeholder="Bank Document" name="bankdoctype" formControlName="bankdoctype">
                            <mat-option *ngFor="let y of bankdoctype" [value]="y">{{y}}</mat-option>
                        </mat-select>
                    </mat-form-field>
                  </form>           
            </mat-card-content>
        </mat-card>
    </div>

  
    <div fxFlex.gt-sm="33%" fxFlex="33">
        <mat-card @card *ngIf="!isccinfo">
            <mat-card-header class="bg-primary text-white">
                <mat-card-title-group>
                    <mat-card-title fxLayout="row">
                        Enter Credit Card Information
                    </mat-card-title>
                </mat-card-title-group>
            </mat-card-header>
            <mat-card-content>
                <form [formGroup]="ccinfo">
                    <mat-form-field>
                      <input matInput="matInput" placeholder="Name on Credit Card" formControlName="ccname" required="required">
                    </mat-form-field>
                    <mat-form-field>
                      <input matInput="matInput" placeholder="Creadit Card Number" formControlName="ccnumber" required="required">
                    </mat-form-field>
                    <mat-form-field style="max-width: 15%;">
                      <mat-select placeholder="Month" name="expmonth" formControlName="expmonth">
                        <mat-option *ngFor="let x of expmonth" [value]="x">{{x}}</mat-option>
                      </mat-select>
                    </mat-form-field>
                    <mat-form-field style="max-width: 20%;">
                      <mat-select placeholder="Year" name="expyear" formControlName="expyear">
                        <mat-option *ngFor="let xy of expyear" [value]="xy">{{xy}}</mat-option>
                      </mat-select>
                    </mat-form-field>
                    <mat-form-field style="max-width: 60%;">
                      <input matInput="matInput" placeholder="Enter CVV" formControlName="cvvnumber" required="required">
                    </mat-form-field>
                    <div style="text-align: center;margin-top:5%;">
                      <button mat-raised-button="mat-raised-button" (click)="saveCCDetails()" color="accent">Save</button>
                    </div>
                  </form>
            </mat-card-content>
        </mat-card>
        <mat-card @card *ngIf="isccinfo">
            <mat-card-header class="bg-primary text-white">
                <mat-card-title-group>
                    <mat-card-title fxLayout="row">
                        Saved Credit Card Detail
                    </mat-card-title>
                </mat-card-title-group>
                <div fxFlex="fxFlex"></div>
                <button mat-fab color="primary" @card class="half-header" bottom (click)="isccinfo = !isccinfo">
                    <mat-icon class="mat-icon material-icons" role="img">edit</mat-icon>
                </button>    
            </mat-card-header>
            <mat-card-content>
                <form [formGroup]="sccdetails">
                    <mat-form-field>
                      <input matInput="matInput" placeholder="Name on Credit Card" formControlName="ccname" required="required">
                    </mat-form-field>
                    <mat-form-field>
                      <input matInput="matInput" placeholder="Creadit Card Number" formControlName="ccnumber" required="required">
                    </mat-form-field>
                    <mat-form-field style="max-width: 15%;">
                      <mat-select placeholder="Month" name="expmonth" formControlName="expmonth">
                        <mat-option *ngFor="let x of expmonth" [value]="x">{{x}}</mat-option>
                      </mat-select>
                    </mat-form-field>
                    <mat-form-field style="max-width: 20%;">
                      <mat-select placeholder="Year" name="expyear" formControlName="expyear">
                        <mat-option *ngFor="let xy of expyear" [value]="xy">{{xy}}</mat-option>
                      </mat-select>
                    </mat-form-field>
                    <mat-form-field style="max-width: 60%;">
                      <input matInput="matInput" placeholder="Enter CVV" formControlName="cvvnumber" required="required">
                    </mat-form-field>

                  </form>           
            </mat-card-content>
        </mat-card>
    </div>
 
    <div fxFlex.gt-sm="33%" fxFlex="33">
        <mat-card @card *ngIf="!isppdetails">
            <mat-card-header class="bg-primary text-white">
                <mat-card-title-group>
                    <mat-card-title fxLayout="row">
                        Enter PayPal Detail
                    </mat-card-title>
                </mat-card-title-group>
            </mat-card-header>
            <mat-card-content>
                <form [formGroup]="ppdetails">
                    <mat-form-field>
                      <input matInput="matInput" type="email" placeholder="Paypal Registered Email" formControlName="email" required="required">
                    </mat-form-field>
                    <mat-form-field>
                      <input matInput="matInput" type="password" placeholder="Paypal Password" formControlName="pwd" required="required">
                    </mat-form-field>
                    <div style="text-align: center;margin-top:5%;">
                      <button mat-raised-button="mat-raised-button" (click)="savePPDetails()" color="accent">Attach Account</button>
                    </div>
                  </form>
            </mat-card-content>
        </mat-card>
        <mat-card @card *ngIf="isppdetails">
            <mat-card-header class="bg-primary text-white">
                <mat-card-title-group>
                    <mat-card-title fxLayout="row">
                        Saved Paypal Account
                    </mat-card-title>
                </mat-card-title-group>
                <div fxFlex="fxFlex"></div>
                <button mat-fab color="primary" @card class="half-header" bottom (click)="isppdetails = !isppdetails">
                    <mat-icon class="mat-icon material-icons" role="img">edit</mat-icon>
                </button>    
            </mat-card-header>
            <mat-card-content>
                <form [formGroup]="sppdetails">
                    <mat-form-field>
                      <input matInput="matInput" type="email" placeholder="Paypal Registered Email" formControlName="email" required="required">
                    </mat-form-field>
                    <mat-form-field>
                      <input matInput="matInput" type="password" placeholder="Paypal Password" formControlName="pwd" required="required">
                    </mat-form-field>
                  </form>
            </mat-card-content>
        </mat-card>
    </div>
</div>