<div fxLayout="row" fxLayoutWrap="wrap">
    <div fxFlex.gt-sm="100%" fxFlex="100">
        <div fxFlex.gt-sm="25%" fxFlex="25" style="height: 99%;">
            <mat-card style="height: inherit;">
                <mat-card-content style="padding: 0;">
                    <mat-nav-list class="list" style="padding: 29px 10px 29px;">
                        <mat-list-item *ngFor="let list of sideNave; let i = index;" (click)='toggleSideMenu(i) '>
                            <a mat-list-item class="{{(list.isActive)? 'mat-list-item active' : 'mat-list-item'}}">{{ list.name }}</a>
                        </mat-list-item>
                    </mat-nav-list>
                </mat-card-content>
            </mat-card>
        </div>
        <div fxFlex.gt-sm="75%" fxFlex="75">
            <mat-card style="margin-bottom:2%;float: right;">
                <mat-card-content style="font-size: smaller;float: inherit;">
                    <div class="row">
                        <div *ngFor="let list of tradeList; let i = index" class="padding-10 {{(list.isActive)? 'active' : 'non-active'}}" (click)="toggleValue(i);">
                            <label>
                                {{list.name}}</label>
                        </div>
                    </div>
                </mat-card-content>
            </mat-card>
            <mat-card>
                <mat-card-content style="font-size: smaller; float: left; width: 100%; background:#fff; ">
                    <div class="row">
                        <div *ngIf="sideNave[0].isActive" style="justify-content: center;align-items: center;min-width: 100%;">
                            <div fxFlex.gt-sm="45%" fxFlex="45">
                                <mat-card>
                                    <mat-card-header class="bg-primary text-white">
                                        <mat-card-title>Buy {{tradeCoin.slice(0,3)}}</mat-card-title>
                                    </mat-card-header>
                                    <mat-card-content>
                                        <div style="text-align:center;">
                                            <span>Available : {{availableBalanceBuy}}</span>
                                            <form [formGroup]="buysellForm">
                                                <div fxLayout="row" fxLayoutWrap="wrap">
                                                    <mat-form-field>
                                                        <input matInput type="number" placeholder="I Want To Spend:" [formControl]="buysellForm.controls['amount']" maxLength='12' oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);" >
                                                        <small *ngIf="buysellForm.controls['amount'].hasError('required') && buysellForm.controls['amount'].touched" class="text-danger support-text">Amount is required.</small>
                                                    </mat-form-field>
                                                    <mat-form-field>
                                                        <input matInput type="text" placeholder="Subtotal:" [(ngModel)]="buydata.subtotal" [readonly]="true" [ngModelOptions]="{standalone: true}">
                                                    </mat-form-field>
                                                    <mat-form-field>
                                                        <input matInput type="text" placeholder="PureEquity Fee:" [formControl]="buysellForm.controls['fee']" [readonly]="true">
                                                    </mat-form-field>
                                                    <mat-form-field>
                                                        <input matInput type="text" placeholder="Approx. {{tradeCoin.slice(0, 3)}} to Receive:" [(ngModel)]="buydata.estimation" [ngModelOptions]="{standalone: true}" [readonly]="true">
                                                    </mat-form-field>

                                                    <div fxFlex.gt-sm="100" fxFlex.gt-xs="100" fxFlex="100">
                                                        <button mat-raised-button color="warn" class="btn-block btn-lg m-t-20 m-b-20" type="button" (click)="buybtc()">
                                                            BUY {{tradeCoin.slice(0, 3)}}
                                                        </button>
                                                    </div>

                                                </div>
                                            </form>
                                        </div>

                                    </mat-card-content>
                                </mat-card>
                            </div>
                            <div fxFlex.gt-sm="11%" fxFlex="11" class="customizedCss">
                                <mat-card>
                                    <mat-card-content style="background-color: #555581;color: #fff;padding-left: 13px; font-size: 30px;">
                                        OR
                                    </mat-card-content>
                                </mat-card>
                            </div>
                            <div fxFlex.gt-sm="45%" fxFlex="45">
                                <mat-card>
                                    <mat-card-header class="bg-primary text-white">
                                        <mat-card-title>Sell {{tradeCoin.slice(0, 3)}}</mat-card-title>
                                    </mat-card-header>
                                    <mat-card-content>
                                        <div style="text-align:center;">
                                            <span>Available : {{availableBalanceSell}}</span>
                                            <form [formGroup]="sellForm">
                                                <div fxLayout="row" fxLayoutWrap="wrap">
                                                    <mat-form-field>
                                                        <input matInput type="number" placeholder="I Want To Sell:" [formControl]="sellForm.controls['amount']"> <!-- (ngModelChange)="estimation(false)" -->
                                                        <small *ngIf="sellForm.controls['amount'].hasError('required') && sellForm.controls['amount'].touched" class="text-danger support-text">Amount is required.</small>
                                                    </mat-form-field>
                                                    <mat-form-field>
                                                        <input matInput type="text" placeholder="Subtotal:" [(ngModel)]="selldata.subtotal" [ngModelOptions]="{standalone: true}" [readonly]="true">
                                                    </mat-form-field>
                                                    <mat-form-field>
                                                        <input matInput type="text" placeholder="PureEquity Fee:" [formControl]="sellForm.controls['fee']" [readonly]="true">
                                                    </mat-form-field>
                                                    <mat-form-field>
                                                        <input matInput type="text" placeholder="Approx. {{tradeCoin.slice(5, 9)}} to Receive:" [(ngModel)]="selldata.estimation" [ngModelOptions]="{standalone: true}" [readonly]="true">
                                                    </mat-form-field>

                                                    <div fxFlex.gt-sm="100" fxFlex.gt-xs="100" fxFlex="100">
                                                        <button mat-raised-button color="warn" class="btn-block btn-lg m-t-20 m-b-20" type="button" (click)="sellbtc()">
                                                            SELL {{tradeCoin.slice(5, 9)}}
                                                        </button>
                                                    </div>

                                                </div>
                                            </form>
                                        </div>
                                    </mat-card-content>
                                </mat-card>
                            </div>
                        </div>
                        <div *ngIf="sideNave[1].isActive">
                            <app-limit-order style="justify-content: center;align-items: center;min-width: 100%;" [availableBalanceBuy]='availableBalanceBuy'
                                [availableBalanceSell]='availableBalanceSell' [tradeCoin]='tradeCoin'></app-limit-order>
                        </div>
                        <div *ngIf="sideNave[2].isActive">
                            <app-market-order style="justify-content: center;align-items: center;min-width: 100%;" [availableBalanceBuy]='availableBalanceBuy'
                                [availableBalanceSell]='availableBalanceSell' [tradeCoin]='tradeCoin'></app-market-order>
                        </div>
                        <div *ngIf="sideNave[3].isActive">
                            <app-stop-order style="justify-content: center;align-items: center;min-width: 100%;" [availableBalanceBuy]='availableBalanceBuy'
                                [availableBalanceSell]='availableBalanceSell' [tradeCoin]='tradeCoin'></app-stop-order>
                        </div>
                    </div>
                </mat-card-content>
            </mat-card>
        </div>
    </div>
</div>
