.customizedCss{
    /* position: absolute;
    left: 46%;
    top: 10%;
    background: #555682;
    color:#ffffff;
    border-radius: 50%; */
    height: 100px;
    /* position: absolute; */
    left: 46%;
    /* top: 10px; */
    /* margin-top: 14%; */
    background: #555682;
    color: #ffffff;
    border-radius: 50%;
    z-index: 3;
    flex: unset !important;
    width: 100px;
}
.enabledcard{
    background: #555682;
    color:#ffffff;
}
.disabledcard{
    background: #ffffff;
    color:#555682;
}
.customflexcard{
    text-align: -webkit-center;
    display:block !important;
}
.mat-warn{
    background-color: #555682;
}
.piechart{
    height:300px; 
    width:280px;
    margin: 0 auto;
}
.padding-10 {
    padding: 10px;
    text-align: center;
}
.padding-10 {
    width: 92px;
    float: left;
    text-align: center;
}
.padding-10 {
    /* margin-left: 5px; */
    background: lightgray;
    margin: 5px;
    /* margin-right: 5px;
    margin-top: 10px; */
    border-radius: 50px;
    color: #777777;
}
.padding-10.active{
    background: #555383;
    color: white;
}
tbody.inactive {
    display: none;
}
.padding-3.non-active.ng-star-inserted {
    position: relative;
    float: right;
    padding: 10px;
}
.highcharts-container {
    width:100% !important;
    height:100% !important;
}

g.highcharts-scrollbar {
    display: none !important;
}
.mat-nav-list a.mat-list-item.active {
    background: #555682;
    color:#ffffff;
}  
.mat-nav-list a.mat-list-item.active,
.mat-nav-list a.mat-list-item {
    width:stretch;
    padding: 0 0 0 5px;
}  
mat-icon.mat-icon.material-icons.active {
    background-color: #555682;
    color: #fff;
}
.mat-list-item-content,
.mat-nav-list .mat-list-item .mat-list-item-content {
    padding-right: 0 !important;
    padding-left: 0 !important;
}
mat-nav-list.list.mat-nav-list {
    padding-top: 0;
}
.mat-nav-list .mat-list-item .mat-list-item-content {
    padding: 0 !important;
}