<div fxLayout="row" fxLayoutWrap="wrap">
    <div fxFlex.gt-sm="100%" fxFlex="100">
        <div fxFlex.gt-sm="25%" fxFlex="25" style="height: 99%;">
            <mat-card style="height: inherit;">
                <mat-card-content style="padding: 0;">
                    <mat-nav-list class="list" style="padding: 29px 10px 29px;">
                        <mat-list-item *ngFor="let list of sideNave; let i = index;" (click)='toggleSideMenu(i) '>
                            <a mat-list-item class="{{(list.isActive)? 'mat-list-item active' : 'mat-list-item'}}">{{ list.name
                                }}</a>
                        </mat-list-item>
                    </mat-nav-list>
                </mat-card-content>
            </mat-card>
        </div>
        <div fxFlex.gt-sm="75%" fxFlex="75">
            <mat-card style="margin-bottom:2%;float: right;">
                <mat-card-content style="font-size: smaller;float: inherit;">
                    <div class="row">
                        <div *ngFor="let list of tradeList; let i = index" class="padding-10 {{(list.isActive)? 'active' : 'non-active'}}" (click)="tradeService.toggleTradeChip(i);">
                            <label>
                                {{list.name}}</label>
                        </div>
                    </div>
                </mat-card-content>
            </mat-card>
            <mat-card>
                <mat-card-content style="font-size: smaller; float: left; width: 100%; background:#fff; ">
                    <div class="row">
                        <div *ngIf="sideNave[0].isActive" style="justify-content: center;align-items: center;min-width: 100%;">
                            <div fxFlex.gt-sm="45%" fxFlex="45">
                                <mat-card>
                                    <mat-card-header class="bg-primary text-white">
                                        <mat-card-title>Buy {{activeTrade.name.slice(0,3)}}</mat-card-title>
                                    </mat-card-header>
                                    <mat-card-content>
                                        <div style="text-align:center;">
                                            <span *ngIf='activeMoneyBalance'>Available : {{activeMoneyBalance.balance}} {{activeMoneyBalance.coin | uppercase}} </span>
                                            <form>
                                                <div fxLayout="row" fxLayoutWrap="wrap">
                                                    <mat-form-field>
                                                        <input matInput
                                                            type="number"
                                                            placeholder="I Want To Spend:"
                                                            [formControl]="buyAmount" maxLength='12'
                                                            oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);">
                                                        <small *ngIf="buyAmount.hasError('required') && buyAmount.touched" class="text-danger support-text">You need to spend something.</small>
                                                        <small *ngIf="buyAmount.hasError('minBuyValue') && buyAmount.dirty && !buyAmount.hasError('required')" class="text-danger support-text">You need to spend more than {{activeTrade.minBuy}} {{activeMoneyBalance.coin | uppercase}}.</small>
                                                    </mat-form-field>
                                                    <mat-form-field>
                                                        <input matInput type="text" placeholder="Subtotal:" [formControl]="buySubtotal" [readonly]="true">
                                                    </mat-form-field>
                                                    <mat-form-field>
                                                        <input matInput type="text" placeholder="PureEquity Fee:" [formControl]="buyFees" [readonly]="true">
                                                    </mat-form-field>
                                                    <mat-form-field>
                                                        <input matInput type="text" placeholder="Approx. {{activeTrade.name.slice(0, 3)}} to Receive:" [formControl]="buyReceive" [readonly]="true">
                                                    </mat-form-field>

                                                    <div fxFlex.gt-sm="100" fxFlex.gt-xs="100" fxFlex="100">
                                                        <button mat-raised-button color="warn" class="btn-block btn-lg m-t-20 m-b-20" type="button" [disabled]='!buyAmount.valid || buyAmount.value <= 0' (click)='buy()'>
                                                            BUY {{activeTrade.name.slice(0, 3)}}
                                                        </button>
                                                    </div>

                                                </div>
                                            </form>
                                        </div>

                                    </mat-card-content>
                                </mat-card>
                            </div>
                            <div fxFlex.gt-sm="11%" fxFlex="11" class="customizedCss">
                                <mat-card>
                                    <mat-card-content style="background-color: #555581; text-align: center; color: #fff;padding: 0px; font-size: 18px; line-height: 50px;">
                                        OR
                                    </mat-card-content>
                                </mat-card>
                            </div>
                            <div fxFlex.gt-sm="45%" fxFlex="45">
                                <mat-card>
                                    <mat-card-header class="bg-primary text-white">
                                        <mat-card-title>Sell {{activeTrade.name.slice(6,9)}}</mat-card-title>
                                    </mat-card-header>
                                    <mat-card-content>
                                        <div style="text-align:center;">
                                            <span *ngIf='activeCoinBalance'>Available :{{activeCoinBalance.balance}} {{activeCoinBalance.coin | uppercase}}</span>
                                            <form>
                                                <div fxLayout="row" fxLayoutWrap="wrap">
                                                    <mat-form-field>
                                                        <input matInput
                                                            type="number"
                                                            placeholder="I Want To Spend:"
                                                            [formControl]="sellAmount" maxLength='12'
                                                            oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);">
                                                        <small *ngIf="sellAmount.hasError('required') && sellAmount.touched" class="text-danger support-text">You need to spend something.</small>
                                                        <small *ngIf="sellAmount.hasError('minBuyValue') && sellAmount.dirty && !sellAmount.hasError('required')" class="text-danger support-text">You need to spend more than {{activeTrade.minSell}} {{activeCoinBalance.coin | uppercase}}.</small>
                                                    </mat-form-field>
                                                    <mat-form-field>
                                                        <input matInput type="text" placeholder="Subtotal:" [formControl]="sellSubtotal" [readonly]="true">
                                                    </mat-form-field>
                                                    <mat-form-field>
                                                        <input matInput type="text" placeholder="PureEquity Fee:" [formControl]="sellFees" [readonly]="true">
                                                    </mat-form-field>
                                                    <mat-form-field>
                                                        <input matInput type="text" placeholder="Approx. {{activeTrade.name.slice(6,9)}} to Receive:" [formControl]="sellReceive" [readonly]="true">
                                                    </mat-form-field>

                                                    <div fxFlex.gt-sm="100" fxFlex.gt-xs="100" fxFlex="100">
                                                        <button mat-raised-button color="warn" class="btn-block btn-lg m-t-20 m-b-20" type="button" [disabled]='!sellAmount.valid || sellAmount.value <= 0' (click)='sell()' >
                                                            Sell {{activeTrade.name.slice(6,9)}}
                                                        </button>
                                                    </div>
                                                </div>
                                            </form>
                                        </div>
                                    </mat-card-content>
                                </mat-card>
                            </div>
                            <!-- <div fxFlex.gt-sm="11%" fxFlex="11" class="customizedCss">
                                <mat-card>
                                    <mat-card-content style="background-color: #555581; text-align: center; color: #fff;padding: 0px; font-size: 18px; line-height: 50px;">
                                        OR
                                    </mat-card-content>
                                </mat-card>
                            </div>
                            <div fxFlex.gt-sm="45%" fxFlex="45">
                                <mat-card>
                                    <mat-card-header class="bg-primary text-white">
                                        <mat-card-title>Sell {{activeTrade.name.slice(0, 3)}}</mat-card-title>
                                    </mat-card-header>
                                    <mat-card-content>
                                        <div style="text-align:center;">
                                            <span>Available : {{availableBalanceSell}}</span>
                                            <form [formGroup]="sellForm">
                                                <div fxLayout="row" fxLayoutWrap="wrap">
                                                    <mat-form-field>
                                                        <input matInput type="number" placeholder="I Want To Sell:" [formControl]="sellForm.controls['amount']" maxLength='12' oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength); this.value = this.value.toFixed(6);">
                                                        <small *ngIf="sellForm.controls['amount'].hasError('required') && sellForm.controls['amount'].touched" class="text-danger support-text">Amount
                                                            is required.</small>
                                                    </mat-form-field>
                                                    <mat-form-field>
                                                        <input matInput type="text" placeholder="Subtotal:" [(ngModel)]="selldata.subtotal" [ngModelOptions]="{standalone: true}"
                                                            [readonly]="true">
                                                    </mat-form-field>
                                                    <mat-form-field>
                                                        <input matInput type="text" placeholder="PureEquity Fee:" [formControl]="sellForm.controls['fee']" [readonly]="true">
                                                    </mat-form-field>
                                                    <mat-form-field>
                                                        <input matInput type="text" placeholder="Approx. {{activeTrade.name.slice(5, 9)}} to Receive:" [(ngModel)]="selldata.estimation"
                                                            [ngModelOptions]="{standalone: true}" [readonly]="true">
                                                    </mat-form-field>

                                                    <div fxFlex.gt-sm="100" fxFlex.gt-xs="100" fxFlex="100">
                                                        <button mat-raised-button color="warn" class="btn-block btn-lg m-t-20 m-b-20" type="button" (click)="sellbtc()">
                                                            SELL {{activeTrade.name.slice(0, 3)}}
                                                        </button>
                                                    </div>

                                                </div>
                                            </form>
                                        </div>
                                    </mat-card-content>
                                </mat-card>
                            </div> -->
                        </div>
                        <div *ngIf="sideNave[1].isActive">
                            <app-limit-order style="justify-content: center;align-items: center;min-width: 100%;" [coinBalance]='coinBalance' [activeTrade]='activeTrade' [coinBalance]='coinBalance' [moneyBalance]='moneyBalance' [activeCoinBalance]='activeCoinBalance' [activeMoneyBalance]='activeMoneyBalance' ></app-limit-order>
                        </div>
                        <div *ngIf="sideNave[2].isActive">
                            <app-market-order style="justify-content: center;align-items: center;min-width: 100%;" [coinBalance]='coinBalance' [activeTrade]='activeTrade' [coinBalance]='coinBalance' [moneyBalance]='moneyBalance' [activeCoinBalance]='activeCoinBalance' [activeMoneyBalance]='activeMoneyBalance' ></app-market-order>
                        </div>
                        <div *ngIf="sideNave[3].isActive">
                            <app-stop-order style="justify-content: center;align-items: center;min-width: 100%;" [coinBalance]='coinBalance' [activeTrade]='activeTrade' [coinBalance]='coinBalance' [moneyBalance]='moneyBalance' [activeCoinBalance]='activeCoinBalance' [activeMoneyBalance]='activeMoneyBalance' ></app-stop-order>
                        </div>
                    </div>
                </mat-card-content>
            </mat-card>
        </div>
    </div>

    <!-- <div fxFlex.gt-sm="100" fxFlex.gt-xs="100" fxFlex="100">
        <mat-card>
            <mat-card-header class="bg-primary text-white">
                <mat-card-title-group>
                    <mat-card-title fxLayout="row">
                        Latest Transactions
                    </mat-card-title>
                </mat-card-title-group>
                <div fxFlex="fxFlex"></div>
            </mat-card-header>
            <mat-card-content style="float: left; width: 100%; background:#fff; ">
                <div *ngIf='transactions'>
                    <table style="width: 100%; text-align: justify; padding: 0 0 0 0; margin-bottom: 0;">
                        <thead>
                            <tr>
                                <th>Source</th>
                                <th>Order ID</th>
                                <th>Amount</th>
                                <th>Subtotal</th>
                                <th>Rate</th>
                                <th>Value</th>
                                <th>Fees</th>
                                <th>Date</th>
                            </tr>
                        </thead>
                        <tbody *ngIf='transactions'>
                            <tr *ngFor="let list of transactions; let i = index" class="{{(list.transaction_type =='IOB')? 'buy' : 'sell'}}">
                                <td> {{list.transaction_type | uppercase}}</td>
                                <td> {{list._id.slice(5,16)}}</td>
                                <td> {{list.amount.amount.toFixed(4)}} {{list.amount.currency}}</td>
                                <td> {{list.subtotal.amount.toFixed(4)}} {{list.subtotal.currency}}</td>
                                <td> {{list.rate.amount.toFixed(4)}} {{list.rate.currency}}</td>
                                <td> {{list.value.amount.toFixed(4)}} {{list.value.currency}}</td>
                                <td> {{list.fees.amount.toFixed(4)}} {{list.fees.currency}}</td>

                                <td> {{list.time | date :'short'}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div *ngIf='!transactions'>
                    <h3>No Transactions found</h3>
                </div>
            </mat-card-content>
        </mat-card>
    </div> -->

</div>
