<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteBase /PureEquity/
  #RewriteRule ^index\.html$ - [L]
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteRule . /PureEquity/index.html [L]
</IfModule>