<div class="main-container" [dir]="dir" [ngClass]="{'minisidebar': minisidebar, 'boxed': boxed, 'danger': danger, 'blue': blue, 'green': green, 'dark': dark, 'sidebar-opened': sidebarOpened, 'sidebar-closed': !sidebarOpened }">
  <mat-toolbar color="primary" class="topbar telative" style="background:#555682;">
      <div class="navbar-header">
          <a class="navbar-brand" href="">
              <b>
                  <img src="assets/logo.png" alt="homepage" class="dark-logo">
                  <img src="assets/logo.png" alt="homepage" class="light-logo originallogo">
              </b>
          </a>
      </div>
  </mat-toolbar>
  <mat-sidenav-content class="page-wrapper">
      <perfect-scrollbar [config]="config">
          <div class="page-content">
            <div fxLayout="row" fxLayoutWrap="wrap">
                <div fxFlex.gt-sm="100" fxFlex.gt-xs="100" fxFlex="100">
                    <header class="clearfix">
                        <h1>Privacy Policy</h1>
                    </header>

                    <h2>General</h2>
                    <p>This Privacy Policy, together with our <a href="">Terms of Use</a>, governs PureEquity’s collection, processing and use of your Personal Information.   As used in this Privacy Policy, "PureEquity" refers to the company PureEquity Limited, including, without limitation, its owners, directors, investors, employees or other related parties. Depending upon the context, "PureEquity" may also refer to the services, products, website, content or other materials (collectively, "PureEquity Services") provided by PureEquity.</p>
                    
                    <p>"Personal Information" refers to information that identifies an individual, such as name, address, e-mail address, trading information, and banking details. “Personal Information” does not include anonymised and/or aggregated data that does not identify a specific user.</p>
                    
                    <p>PureEquity and its affiliates (hereinafter, "PureEquity", "we", "us" or "our") are committed to protecting and respecting your privacy. The purpose of this Privacy Policy is to describe:</p>
                    
                    <ul>
                        <li>The types of Personal Information we collect and how it may be used;</li>
                        <li>Our use of cookies and similar technology;</li>
                        <li>How and why we may disclose your Personal Information to third parties;</li>
                        <li>The transfer of your Personal Information within and outside of the European Economic Area (“EEA”);</li>
                        <li>Your right to access, correct, update, and delete your Personal Information;</li>
                        <li>The security measures we use to protect and prevent the loss, misuse, or alteration of Personal Information; and</li>
                        <li>PureEquity’s retention of your Personal Information.</li>
                    </ul>
                    
                    <h2>Collection and use of personal information</h2>
                    <h3>A.	Personal Information We Collect</h3>
                    <p>We collect the Personal Information you provide directly to us when you open a PureEquity Account, perform any transactions on the PureEquity Platform, or use other PureEquity Services. This may include:</p>
                    
                    <ul>
                        <li>Contact information, such as name, home address, and email address.</li>
                        <li>Account information, such as username and password.</li>
                        <li>Financial information, such as bank account numbers, bank statement, and trading information.</li>
                        <li>Identity verification information, such as images of your government issued ID, passport, national ID card, or driving license.  Note: US residents may be asked to provide their social security numbers.</li>
                        <li>Residence verification information, such as Utility bill details or similar information.</li>
                    </ul>
                    
                    <p>We also automatically collect certain computer, device, and browsing information when you access the PureEquity website or use PureEquity Services. This information is aggregated to provide statistical data about our users' browsing actions and patterns, and does not personally identify individuals. This information may include:</p>
                    <ul>
                        <li>Computer or mobile device information, including IP address, operating system, browser type.</li>
                        <li>Website usage information.</li>
                    </ul>
                    
                    <h3>B.	Use of Cookies and Similar Technology</h3>
                    
                    <p>The PureEquity site is using cookies. Cookies are small text files that are placed on your computer by websites that you visit. They are widely used in order to make websites work, or work more efficiently, as well as to provide information to the owners of the site.</p>
                    <p>Cookies are typically stored on your computer's hard drive. Information collected from cookies is used by us to evaluate the effectiveness of our Site, analyze trends, and administer the Platform. The information collected from cookies allows us to determine such things as which parts of our Site are most visited and difficulties our visitors may experience in accessing our Site. With this knowledge, we can improve the quality of your experience on the Platform by recognizing and delivering more of the most desired features and information, as well as by resolving access difficulties. We also use cookies and/or a technology known as web bugs or clear gifs, which are typically stored in emails to help us confirm your receipt of, and response to, our emails and to provide you with a more personalized experience when using our Site.</p>
                    <p>We use third party service provider(s), to assist us in better understanding the use of our Site. Our service provider(s) will place cookies on the hard drive of your computer and will receive information that we select that will educate us on such things as how visitors navigate around our site, what products are browsed, and general Transaction information. Our service provider(s) analyses this information and provides us with aggregate reports. The information and analysis provided by our service provider(s) will be used to assist us in better understanding our visitors' interests in our Site and how to better serve those interests. The information collected by our service provider(s) may be linked to and combined with information that we collect about you while you are using the Platform. Our service provider(s) is/are contractually restricted from using information they receive from our Site other than to assist us.</p>
                    
                    <h3>C.	How We Use Your Personal Information</h3>
                    
                    <p>We may use your Personal Information to:</p>
                    <ul>
                        <li>Process your PureEquity transactions. We will process your Personal Information only for the purpose(s) for which it has been provided to us.</li>
                        <li>Verify your identity in accordance with the Money Laundering Regulations 2007 and the <a>PureEquity Anti Money Laundering policy</a>, as well as address other law enforcement needs as more fully described in our <a>Terms of Use</a>. With respect to US residents, we also may share your information with other financial institutions as authorized under Section 314(b) of the US Patriot Act, and with tax authorities, including the US Internal Revenue Service, pursuant to the Foreign Account Tax Compliance Act ("FATCA"), to the extent that this statute may be determined to apply to PureEquity Ltd.</li>
                        <li>Personalise your PureEquity Services experience.</li>
                        <li>Analyse PureEquity website usage, and improve our website and website offerings.</li>
                        <li>Help us respond to your customer service requests and support needs.</li>
                        <li>Contact you about PureEquity Services.  The email address you provide may be used to communicate information and updates related to your use of the PureEquity Services. We may also occasionally communicate company news, updates, promotions, and related information relating to similar products and services provided by PureEquity.</li>
                        <li>Administer a contest, promotion, survey or other site features as will be more explained on the website.</li>
                    </ul>
                    
                    <p>We do not perform behavioral tracking of a customer's activities on our Website or across different Websites, nor do we allow third-party data collection through our Service.</p>
                    <p>If you wish to stop receiving marketing communications from us, please contact us at <a >support</a> to opt-out.</p>
                    
                    
                    <h2>DISCLOSING AND TRANSFERRING PERSONAL INFORMATION </h2>
                    <p>We may disclose your Personal Information to third parties and legal and regulatory authorities, and transfer your Personal Information outside the EEA, as described below.</p>
                    
                    <h3>A.	Disclosures to Third Parties</h3>
                    
                    <p>In processing your transactions, we may share some of your Personal Information with third party service providers who help with our business operations. Your information will not be sold, exchanged, or shared with any third parties without your consent, except to provide PureEquity Services or as required by law. By using our Services and accepting our <a>Terms of Use</a>, you consent to the disclosure of your Personal Information as described in this Privacy Policy.</p>
                    <p>Non-personally identifiable visitor information may be provided to third parties for marketing, advertising, or other uses.</p>
                    <p>PureEquity’s third party service providers are contractually bound to protect and use such information only for the purposes for which it was disclosed, except as otherwise required or permitted by law. We ensure that such third parties will be bound by terms no less protective those described in this Privacy Policy, or those we are subject to under applicable data protection laws.</p>
                    
                    <h3>B.	Disclosures to Legal Authorities</h3>
                    <p>We may share your Personal Information with law enforcement, data protection authorities, government officials, and other authorities when:</p>
                    <ul>
                        <li>Compelled by subpoena, court order, or other legal procedure.</li>
                        <li>We believe that the disclosure is necessary to prevent physical harm or financial loss.</li>
                        <li>Disclosure is necessary to report suspected illegal activity.</li>
                        <li>Disclosure is necessary to investigate violations of this Privacy Policy or our <a>Terms of Use</a>.</li>
                    </ul>
                    
                    <h3>C.	International Transfers of Personal Information</h3>
                    <p>We store and process your Personal Information in data centres around the world, wherever PureEquity facilities or service providers are located. As such, we may transfer your Personal Information outside of the EEA. Such transfers are undertaken in accordance with our legal and regulatory obligations.</p>
                    
                    <h2>EXTERNAL WEBSITES</h2>
                    <p>Occasionally, the PureEquity website may provide references or links to other websites ("External Websites"). We do not control these External Websites third party sites or any of the content contained therein. You agree that we are in no way responsible or liable for External Websites referenced or linked from the PureEquity website, including, but not limited to, website content, policies, failures, promotions, products, services or actions and/or any damages, losses, failures or problems caused by, related to, or arising from those sites.</p>
                    <p>External Websites have separate and independent privacy policies. We encourage you to review the policies, rules, terms, and regulations of each site that you visit. We seek to protect the integrity of our site and welcome any feedback about External Website information provided on the PureEquity website.</p>
                    
                    <h2>ACCESS RIGHTS TO PERSONAL INFORMATION</h2>
                    
                    <p>You have the right to access your Personal Information to correct, update, and block inaccurate and/or incorrect data. To exercise this right, contact us at <a >support</a>.</p>
                    <p>PureEquity will respond to your request only where this is not inconsistent with our <a>Terms of Use</a> and other legal and regulatory obligations. Within 40 days of receipt of your written request and payment of a £10 fee, we will provide you with your Personal Information, including the purposes for which it was used and to whom it was disclosed to in accordance with your Subject Access Request rights under the Data Protection Act 1998. </p>
                    
                    <h2>SECURITY OF PERSONAL INFORMATION</h2>
                    
                    <p>We use a variety of security measures to ensure the confidentiality of your Personal Information, and to protect your Personal Information from loss, theft, unauthorised access, misuse, alteration or destruction. These security measures include, but are not limited to:</p>
                    <ul>
                        <li>Password protected directories and databases.</li>
                        <li>Secure Sockets Layered (SSL) technology to ensure that your information is fully encrypted and sent across the Internet securely.</li>
                        <li>PCI Scanning to actively protect our servers from hackers and other vulnerabilities.</li>
                    </ul>
                    
                    <p>All financially sensitive and/or credit information is transmitted via SSL technology and encrypted in our database. Only authorised PureEquity personnel are permitted access to your Personal Information, and these personnel are required to treat the information as highly confidential. The security measures will be reviewed regularly in light of new and relevant legal and technical developments.</p>
                    
                    
                    <h2>RETENTION OF PERSONAL INFORMATION</h2>
                    <p>We retain Personal Information for as long as necessary to fulfil purposes described in this Privacy Policy, subject to our own legal and regulatory obligations. In accordance with our record keeping obligations, we will retain Account and other Personal Information for at least five years after an Account is closed.</p>
                    
                    <h2>UPDATES TO THIS PRIVACY POLICY</h2>
                    
                    <p>This Privacy Policy may be revised, modified, updated and/or supplemented at any time, without prior notice, at the sole discretion of PureEquity.  When we make changes to this Privacy Policy, we will notify all users on our website, and make the amended Privacy Policy available on our website.</p>
                    
                    
                    <h2>Definitions</h2>
                    <p>Account. The contractual arrangement wherein a PureEquity Member has accepted our <a>Terms of Use</a> and Privacy Policy, and received approval to use the PureEquity Services, including the purchase and sale of Bitcoins and to perform associated Transactions.</p>
                    <p>PureEquity Platform. Hardware and software technologies used by PureEquity to provide the Service as set out in our <a>Terms of Use</a>.</p>
                    <p>Personal Information. Information that identifies an individual, such as name, address, e-mail address, trading information, and banking details. “Personal Information” does not include anonymised and/or aggregated data that does not identify a specific user.</p>
                    <p>Service(s). The technological platform, functional rules and market managed by PureEquity Ltd. to permit Sellers and Buyers to perform purchase and sale transactions of Bitcoins.</p>
                    <p>Transaction. Includes the following:</p>
                    <ul>
                        <li>The agreement between the Buyer and the Seller to exchange Bitcoins through the Service for currencies at a commonly agreed rate ("Bitcoin Purchase Transaction");</li>
                        <li>The conversion of currencies into Bitcoins deposited by Members on their account ("Conversion Transaction");</li>
                        <li>The transfer of Bitcoins among Members ("Bitcoin Transfer Transaction");</li>
                        <li>The transfer of currencies among Members ("Currency Transfer Transaction"); and</li>
                        <li>The purchase of ancillary products ("Purchase Transactions").</li>
                    </ul>
                    
                    <h2>Contact Us</h2>
                    <p>Please contact us with questions, comments, or concerns regarding our Privacy Policy and/or practices at</p>
                    
                </div>
              </div>
          </div>
      </perfect-scrollbar>
  </mat-sidenav-content>
</div>