<div [formGroup]="personal">
    <mat-form-field>
        <input matInput placeholder="First Name" formControlName="firstName" required>
        <mat-icon matSuffix>account_circle</mat-icon>
        <small *ngIf="personal.controls['firstName'].hasError('required') && personal.controls['firstName'].touched"
        class="text-danger support-text">You must include first name.</small>
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="Middle Name" formControlName="middleName" required>
        <mat-icon matSuffix>account_circle</mat-icon>        
        <small *ngIf="personal.controls['middleName'].hasError('required') && personal.controls['middleName'].touched"
        class="text-danger support-text">You must include first name.</small>
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="Place of Birth" formControlName="placeOfBirth" required>
        <mat-icon matSuffix>place</mat-icon>
        <small *ngIf="personal.controls['placeOfBirth'].hasError('required') && personal.controls['placeOfBirth'].touched"
        class="text-danger support-text">You must include first name.</small>
      </mat-form-field>
      <mat-form-field>
        <mat-select placeholder="Gender" name="gender" formControlName="gender">
          <mat-option value="male">
            {{ 'Male' }}
          </mat-option>
          <mat-option value="female">
            {{ 'Female' }}
          </mat-option>
          <mat-option value="other">
            {{ 'Other' }}
          </mat-option>
        </mat-select>
        <mat-icon matSuffix>insert_emoticon</mat-icon>
        <small *ngIf="personal.controls['gender'].hasError('required') && personal.controls['gender'].touched"
        class="text-danger support-text">You must include first name.</small>
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="Country Code" formControlName="countryCode" required>
        <mat-icon matSuffix>flag</mat-icon>  
        <small *ngIf="personal.controls['countryCode'].hasError('required') && personal.controls['countryCode'].touched"
        class="text-danger support-text">You must include first name.</small>      
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="Contact No" formControlName="contactNumber" required>
        <mat-icon matSuffix>contact_phone</mat-icon> 
        <small *ngIf="personal.controls['contactNumber'].hasError('required') && personal.controls['contactNumber'].touched"
        class="text-danger support-text">You must include first name.</small>               
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="Social Link" formControlName="socialLink" required>
        <mat-icon matSuffix>group</mat-icon>                
        <small *ngIf="personal.controls['socialLink'].hasError('required') && personal.controls['socialLink'].touched"
        class="text-danger support-text">You must include first name.</small>
      </mat-form-field>
    </div>