.searchfilter mat-form-field {
    width: 0;
    transition: all .8s ease;
    float: right;
}
.searchfilter mat-icon{
    cursor: pointer;
    position: absolute;
    top: 20px;
    right: 0;
}
.searchfilter{
    height: 90px;
    position: relative;
}
.flexC{
    display: flex;
    overflow: scroll;
}
.flexC>mat-card{
    max-width: 33%;
    min-width: 33%;
}
.profiler{
    height: 66px;
    width: 66px;
    border-radius: 50%;
    flex-shrink: 0;
}
.no-padding > mat-dialog-container.mat-dialog-container {
    padding: 0 !important;
}