
<!-- ============================================================== -->
<!-- Simple four boxes Row -->
<!-- ============================================================== -->
<div fxLayout="row" fxLayoutWrap="wrap">
        <!-- column -->    
        <div fxFlex.gt-sm="25" fxFlex.gt-xs="25" fxFlex="25">
          <mat-card>
            <mat-card-content>
                <!-- Row -->
                <div class="d-flex no-block">
                    <!-- column -->
                    <div class="m-r-10 no-shrink">
                        <button mat-fab mat-card-icon class="shadow-none bg-inverse  bg-success">
                            <mat-icon>account_circle</mat-icon>
                        </button>
                    </div> 
                    <!-- column -->
                    <div>
                        <h3 class="m-0">{{timer.hours}}</h3>
                        <h6 class="text-muted m-0">Hours</h6>
                    </div> 
                    
                </div>      
            </mat-card-content>
          </mat-card>
        </div>
        <!-- column -->
        <!-- column -->    
        <div fxFlex.gt-sm="25" fxFlex.gt-xs="25" fxFlex="25">
          <mat-card>
            <mat-card-content>
                <!-- Row -->
                <div class="d-flex no-block">
                    <!-- column -->
                    <div class="m-r-10 no-shrink">
                        <button mat-fab color="warn" mat-card-icon class="shadow-none  bg-warning">
                            <mat-icon>local_mall</mat-icon>
                        </button>
                    </div> 
                    <!-- column -->
                    <div>
                        <h3 class="m-0">{{timer.minutes}}</h3>
                        <h6 class="text-muted m-0">Minutes</h6>
                    </div> 
                    
                </div>      
            </mat-card-content>
          </mat-card>
        </div>
        <!-- column --> 
        <!-- column -->    
        <div fxFlex.gt-sm="25" fxFlex.gt-xs="25" fxFlex="25">
          <mat-card>
            <mat-card-content>
                <!-- Row -->
                <div class="d-flex no-block">
                    <!-- column -->
                    <div class="m-r-10 no-shrink">
                        <button mat-fab color="accent" mat-card-icon class="shadow-none">
                            <mat-icon>stars</mat-icon>
                        </button>
                    </div>
                    <!-- column -->
                    <div>
                        <h3 class="m-0">{{timer.seconds}}</h3>
                        <h6 class="text-muted m-0">Seconds</h6>
                    </div> 
                     
                </div>      
            </mat-card-content>
          </mat-card>
        </div>
        <!-- column --> 
        <!-- column -->    
        <div fxFlex.gt-sm="25" fxFlex.gt-xs="25" fxFlex="25">
          <mat-card>
            <mat-card-content>
                <!-- Row -->
                <div class="d-flex no-block">
                    <!-- column -->
                    <div class="m-r-10 no-shrink">
                        <button mat-fab color="warn" mat-card-icon class="shadow-none bg-danger">
                            <mat-icon>content_paste</mat-icon>
                        </button>
                    </div> 
                    <!-- column -->
                    <div>
                        <h3 class="m-0">{{timer.micros}}</h3>
                        <h6 class="text-muted m-0">Milliseconds</h6>
                    </div> 
                    
                </div>      
            </mat-card-content>
          </mat-card>
        </div>
        <!-- column -->     
      </div>

<!-- Actual Dashboard Layout -->
<div fxLayout="row" fxLayoutWrap="wrap">
    <!-- column -->
    <div fxFlex.gt-sm="100" fxFlex.gt-xs="100" fxFlex="100">
        <mat-card>
            <mat-card-content style="height: 165px; font-size: smaller;">
                <div class="row">
                    <div
                        *ngFor="let list of tradeList; let i = index"
                        class="padding-10 {{(list.isActive)? 'active' : 'non-active'}}"
                        (click)="toggleValue(i);">
                        <label>
                            {{list.name}}</label>
                    </div>
                </div>
            </mat-card-content>
        </mat-card>
    </div>
    <!-- column -->
</div>
<!-- ============================================================== -->
<!-- Charts -->
<!-- ============================================================== -->
<div fxLayout="row" fxLayoutWrap="wrap">
    <!-- Column-->
    <div fxFlex.gt-lg="75" fxFlex.gt-md="60" fxFlex.gt-xs="100" fxFlex="100">
        <mat-card>
            <mat-card-content>
                <!-- <mat-card-title>Sales Overview</mat-card-title> -->
                <!-- <mat-card-subtitle></mat-card-subtitle> -->
                <div class="barchrt" style="height:360px;">
                    <div id="container" style="height: 400px; min-width: 310px"></div>
                    <!-- <ngx-charts-line-chart [view]="view" [scheme]="colorScheme"
                    [results]="multi" [gradient]="gradient" [xAxis]="showXAxis" [yAxis]="showYAxis"
                    [xAxisLabel]="xAxisLabel" [yAxisLabel]="yAxisLabel" [autoScale]="autoScale"
                    (select)="onSelect($event)"> </ngx-charts-line-chart> -->
                </div>
                <!-- <ul class="list-inline text-center"> <li> <h6 class="text-muted
                text-success m-0"> <i class="fa fa-circle font-10 m-r-10 "></i>Ample</h6> </li>
                <li> <h6 class="text-muted text-info m-0"> <i class="fa fa-circle font-10
                m-r-10"></i>Pixel</h6> </li> </ul> -->
            </mat-card-content>
        </mat-card>
    </div>
    <!-- Column-->
    <div fxFlex.gt-lg="25" fxFlex.gt-md="40" fxFlex.gt-xs="100" fxFlex="100">
        <mat-card>
            <mat-card-content>
                <mat-card-title>{{tradeCoin}}
                </mat-card-title>
                <!-- <mat-card-subtitle>{{trade | json}}</mat-card-subtitle> -->
                <div class="table-25">
                    <table
                        style="width: 100%; text-align: center; padding: 15px 0 0 0; margin-bottom: 0;">
                        <thead>
                            <tr>
                                <th>Amount</th>
                                <th>Price</th>
                                <th>Time</th>
                            </tr>
                        </thead>
                        <tbody
                            *ngFor="let list of tradeList; let i = index"
                            class="{{(list.isActive)? 'acitve' : 'inactive'}}">
                            <tr *ngFor="let t of list.data">
                                <td *ngIf="list.isActive && t.amount"> {{t.amount}}</td>
                                <td *ngIf="list.isActive && t.price"> {{t.price}}</td>
                                <td *ngIf="list.isActive && t.date"> {{t.date * 1000 | date:'short'}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </mat-card-content>
        </mat-card>
    </div>
</div>
