<div class="main-container" [dir]="dir" [ngClass]="{'minisidebar': minisidebar, 'boxed': boxed, 'danger': danger, 'blue': blue, 'green': green, 'dark': dark, 'sidebar-opened': sidebarOpened, 'sidebar-closed': !sidebarOpened }">
  <mat-toolbar color="primary" class="topbar telative" style="background:#555682;">
      <div class="navbar-header">
          <a class="navbar-brand" href="">
              <b>
                  <img src="assets/logo.png" alt="homepage" class="dark-logo">
                  <img src="assets/logo.png" alt="homepage" class="light-logo originallogo">
              </b>
          </a>
      </div>
  </mat-toolbar>
  <mat-sidenav-content class="page-wrapper">
      <perfect-scrollbar [config]="config">
          <div class="page-content">

            <div id="lipsum" class="">
              <p>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas in odio quis orci rutrum porta. Ut sagittis metus eros, vel tempor tortor eleifend a. Duis vitae turpis a orci accumsan venenatis eu sit amet leo. Curabitur ultrices malesuada mattis. Mauris id lorem sit amet magna ultricies aliquam a vel nulla. Duis id libero vitae diam posuere vehicula. Duis vel eleifend dui. Vivamus fermentum odio ut erat pulvinar pharetra. Phasellus laoreet commodo justo. Vestibulum porttitor enim vel velit pellentesque sollicitudin. Phasellus sit amet ligula ultrices ligula consequat consectetur eu eget libero. Nullam in dui interdum, commodo lorem vel, varius felis. Cras diam sapien, ornare id tortor non, tristique euismod nunc. Aliquam erat volutpat. Praesent quis felis ac tortor ultrices scelerisque ut in dui.
              </p>
              <p>
              Proin malesuada lacus eget sem convallis, nec viverra neque malesuada. Duis tempor elit turpis, et fringilla ipsum condimentum bibendum. Proin vitae dignissim lectus. Nullam ex velit, sagittis sed neque vel, vehicula volutpat ex. Mauris sit amet fringilla ex, id ultrices eros. In finibus enim vitae odio ultricies accumsan. Etiam pharetra sed justo quis facilisis. Praesent molestie vulputate magna, at mollis urna gravida vehicula. Mauris venenatis, nibh in aliquam scelerisque, nisl mi pharetra odio, sed dapibus nulla augue eget ligula.
              </p>
              <p>
              Pellentesque tempus felis eget ligula dictum, eget consectetur orci mattis. Morbi condimentum in lacus ut sodales. Pellentesque sed magna congue, tincidunt mi quis, egestas arcu. Vivamus mi velit, tristique vel dolor eu, consequat lacinia ipsum. Aliquam a metus mollis, dictum justo id, venenatis augue. Duis nec aliquam ipsum. Donec vel nulla non nisi interdum efficitur.
              </p>
              <p>
              Integer interdum vel tortor ut euismod. Quisque rhoncus erat lorem, in malesuada metus pharetra ut. Aenean vulputate aliquet turpis, at pretium diam bibendum non. Donec tincidunt orci et ex volutpat, quis aliquam dolor maximus. Quisque eget lectus et nisi rutrum eleifend in fermentum dui. Praesent lectus purus, feugiat id tempor quis, aliquam ac nisl. Maecenas a justo id urna lacinia posuere. Nunc posuere, felis in tempor varius, lectus velit vulputate urna, eget volutpat velit mi nec ante. In eget sem vehicula turpis luctus convallis id a massa. Nam dui sapien, eleifend eget faucibus vitae, consectetur id lectus. Cras enim urna, dignissim eu magna at, tempus fringilla urna.
              </p>
              <p>
              Sed fringilla eleifend tortor, et vehicula dolor pharetra at. Suspendisse ut neque non odio efficitur convallis et ut sapien. Praesent dapibus, enim at egestas porttitor, augue ligula porta neque, at scelerisque nisi nunc sed sem. Nunc vehicula in turpis eget ultrices. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Integer auctor metus tempus cursus placerat. Vestibulum dolor elit, congue in condimentum sodales, imperdiet nec purus. Integer et sollicitudin libero, at efficitur lacus. Curabitur quis diam ullamcorper sem laoreet fringilla. Suspendisse sollicitudin interdum tortor, vitae dictum est iaculis et. Nunc dapibus leo hendrerit, commodo dolor at, aliquam orci. Morbi vel felis vitae lacus semper tincidunt.
              </p></div>
          </div>
      </perfect-scrollbar>
  </mat-sidenav-content>
</div>