<div class="login-register" >
  <div class="login-register-box">
    <mat-card>
      <mat-card-content>
          <div class="text-center">
            <img alt="homepage" src="assets/images/logo-icon.png">
            <h4 class="m-t-0">Verifying ...</h4>
          </div>
          <div fxLayout="row" fxLayoutWrap="wrap">
            <!-- col full-->
            <div class="text-center spinner-center" fxFlex.gt-sm="100" fxFlex.gt-xs="100" fxFlex="100">
                <mat-spinner > </mat-spinner>
            </div>
          </div>
      </mat-card-content>
    </mat-card>
  </div>
</div>