<div fxLayout="row" fxLayoutWrap="wrap">
  <div fxFlex.gt-sm="100" fxFlex.gt-xs="100" fxFlex="100">
    <mat-card>
        <mat-card-header class="bg-primary text-white" style="height: 55px;">
            <mat-card-title-group>
                <mat-card-title fxLayout="row">
                    Roles Management
                </mat-card-title>
            </mat-card-title-group>
            <!-- <div fxFlex="fxFlex"></div>
            <button mat-fab color="primary" (click)="create()" style="float: right;top:10px;">
              <mat-icon>add</mat-icon>
            </button> -->
            <div fxFlex="fxFlex"></div>
            <form class="app-search2">
                <input type="text" class="form-control" placeholder="Search"  (keyup)="applyFilter($event.target.value)" >
                <a class="cl-srh-btn2">
                    <i class="ti-close"></i>
                </a>
            </form>
            <button mat-icon-button class="srh-btn2" style="margin-top: -5px;">
                <mat-icon>search</mat-icon>
            </button>
        </mat-card-header>
      <mat-card-content>
        <!-- <mat-card-title>Roles</mat-card-title> -->
        <!-- <button mat-fab color="warn" (click)="create()" style="background-color: #555682;float: right;top: -40px;">
          <mat-icon>add</mat-icon>
        </button> -->
        <div class="table-rasponsive">
          <mat-table [dataSource]="dataSource" matSort>

            <!-- # Column -->
            <ng-container matColumnDef="name">
              <mat-header-cell *matHeaderCellDef mat-sort-header> Title </mat-header-cell>
              <mat-cell *matCellDef="let row"> {{row.name}} </mat-cell>
            </ng-container>

            <ng-container matColumnDef="status">
              <mat-header-cell *matHeaderCellDef mat-sort-header> Status </mat-header-cell>
              <mat-cell *matCellDef="let row"> {{row.status}} </mat-cell>
            </ng-container>
            
            <!-- Created On Column -->
            <ng-container matColumnDef="created_at">
              <mat-header-cell *matHeaderCellDef mat-sort-header> Created On </mat-header-cell>
              <mat-cell *matCellDef="let row"> {{row.created_at | date:'short'}} </mat-cell>
            </ng-container>

            <!-- Action Column -->
            <ng-container matColumnDef="action">
              <mat-header-cell *matHeaderCellDef mat-sort-header class="actionsider"> Action </mat-header-cell>
              <mat-cell *matCellDef="let row" (click)="$event.stopPropagation()" class="actioncontainersider">
                <button mat-icon-button color="primary" (click)="edit(row);">
                  <mat-icon>create</mat-icon>
                </button>
                <button mat-icon-button color="warn" (click)="delete(row)">
                  <mat-icon>delete</mat-icon>
                </button>
              </mat-cell>
            </ng-container>

            <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
            <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
          </mat-table>

          <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" (page)="pageEvent($event);"></mat-paginator>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
</div>