.responsivelogo {
    display: none;
}

@media(max-width:640px) {
    .responsivelogo {
        display: block;
    }
    .originallogo {
        display: none;
    }
}

.no-padding > mat-dialog-container.mat-dialog-container {
    padding: 0 !important;
}
.mat-dialog-container {
    height: auto;
    padding: 0;
}