<div>
    <div fxLayout="row" fxLayoutWrap="wrap" style="width: 90%; overflow-x:auto;">
      <div fxFlex.gt-sm="33%" fxFlex="33" *ngIf='isBankDescription'>
        <form [formGroup]="mainform">
          <div formArrayName="bankdetails" style="display: flex;">
            <div *ngFor="let address of mainform.controls.bankdetails.controls; let i=index; let isEdit;" style="min-width:400px">
              <div [formGroupName]="i">
                <mat-card @card>
                  <mat-card-header class="bg-primary text-white">
                    <mat-card-title-group>
                      <mat-card-title fxLayout="row">
                        Bank Details
                      </mat-card-title>
                    </mat-card-title-group>
                    <div fxFlex="fxFlex"></div>
                    <button mat-fab color="warn" style="background-color: #f44336;" @card class="half-header" *ngIf="hasdetails && isEdit[i] && data.bankdetails[i]" (click)='removeForm(i, "bankdetails", "Removed Bank Details") ' >
                        <mat-icon class="mat-icon material-icons" role="img">delete</mat-icon>
                    </button>
                    <button mat-fab color="primary" style="background-color:grey !important;" @card class="half-header" *ngIf="hasdetails && !isEdit[i] && data.bankdetails[i]" (click)='isEdit[i] = !isEdit[i]' >
                        <mat-icon class="mat-icon material-icons" role="img">edit</mat-icon>
                    </button>
                    <button mat-fab color="warn" style="background-color: #f44336;" @card class="half-header" *ngIf="hasdetails && !isEdit[i] && !data.bankdetails[i]" (click)='removeForm(i, "bankdetails", "Removed Bank Details") ' >
                        <mat-icon class="mat-icon material-icons" role="img">delete</mat-icon>
                    </button>
                  </mat-card-header>
                  <mat-card-content *ngIf="!hasdetails" style="text-align:center;">
                    <span> Details not found,add your bank details.</span>
                    <button mat-fab color="warn" style="background-color: #f44336;" (click)="hasdetails=true;" style="background-color: #555682;margin-top:3%;">
                      <mat-icon>add</mat-icon>
                    </button>
                  </mat-card-content>
                  <mat-card-content *ngIf="hasdetails && !isEdit[i] && data.bankdetails[i]" style="text-align:center;">
                    <!-- <strong>Account Details</strong><span> {{data.bankdetails[i].acnumber}}</span> -->
                    <form class="example-form">
                        <mat-form-field>
                            <input matInput disabled placeholder="Account Number" value="{{data.bankdetails[i].acnumber}}" required="required" type='text' minLength='12' maxLength='20' oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);">
                          </mat-form-field>
                          <mat-form-field>
                            <input matInput disabled placeholder="Bank IBAN" value="{{data.bankdetails[i].ifscnumber}}" required="required">
                          </mat-form-field>
                          <mat-form-field>
                            <mat-select placeholder="Account Type" disabled name="actype" value="{{data.bankdetails[i].actype}}">
                              <mat-option *ngFor="let x of actype" [value]="x">{{x}}</mat-option>
                            </mat-select>
                          </mat-form-field>
                          <mat-form-field>
                            <input matInput disabled placeholder="Your Name" value="{{data.bankdetails[i].name}}" required="required" (keypress)='isChar($event)'>
                          </mat-form-field>
                          <mat-form-field>
                            <mat-select placeholder="Bank Document" disabled name="bankdoctype" value="{{data.bankdetails[i].bankdoctype}}">
                              <mat-option *ngFor="let y of bankdoctype" [value]="y">{{y}}</mat-option>
                            </mat-select>
                          </mat-form-field>
                          <mat-checkbox [(ngModel)]="data.bankdetails[i].isagreed" [ngModelOptions]="{standalone: true}" disabled>Agree Terms & conditions</mat-checkbox>
                      </form>
                  </mat-card-content>
                  <mat-card-content *ngIf="hasdetails && isEdit[i] && data.bankdetails[i]" @card>
                    <mat-form-field>
                      <input matInput="matInput" placeholder="Account Number" formControlName="acnumber" required type='text' minLength='12' maxLength='20' oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);" (keypress)='isNumber($event)'> 
                    </mat-form-field>
                    <div fxLayout="row" fxLayoutWrap="wrap">
                      <div fxFlex.gt-sm="70%" fxFlex="70">
                        <mat-form-field>
                          <input matInput="matInput" placeholder="Bank IBAN" formControlName="ifscnumber" required="required">
                        </mat-form-field>
                      </div>
                      <div fxFlex.gt-sm="30%" fxFlex="30">
                        <button mat-raised-button="mat-raised-button" color="accent" >Check IBAN</button>
                      </div>
                    </div>
                    <mat-form-field>
                      <mat-select placeholder="Account Type" name="actype" formControlName="actype">
                        <mat-option *ngFor="let x of actype" [value]="x">{{x}}</mat-option>
                      </mat-select>
                    </mat-form-field>
                    <mat-form-field>
                      <input matInput="matInput" placeholder="Your Name" formControlName="name" required="required" (keypress)='isChar($event)'>
                    </mat-form-field>
                    <mat-form-field>
                      <mat-select placeholder="Bank Document" name="bankdoctype" formControlName="bankdoctype">
                        <mat-option *ngFor="let y of bankdoctype" [value]="y">{{y}}</mat-option>
                      </mat-select>
                    </mat-form-field>
                    <mat-checkbox formControlName="isagreed">Agree Terms & conditions</mat-checkbox>
                    <div style="text-align: center;margin-top:5%;">
                      <button mat-raised-button="mat-raised-button" (click)="save('bankdetails','Saved Bank Details')" color="accent">Save</button>
                      <!-- <button mat-raised-button="mat-raised-button" color="accent">Cancel</button> -->
                    </div>
                  </mat-card-content>
                  <mat-card-content *ngIf="hasdetails && !isEdit[i] && !data.bankdetails[i]" @card>
                      <mat-form-field>
                        <input matInput="matInput" placeholder="Account Number" formControlName="acnumber" required="required" minLength='12' maxLength='20' oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);" (keypress)='isNumber($event)'>
                      </mat-form-field>
                      <div fxLayout="row" fxLayoutWrap="wrap">
                        <div fxFlex.gt-sm="70%" fxFlex="70">
                          <mat-form-field>
                            <input matInput="matInput" placeholder="Bank IBAN" formControlName="ifscnumber" required="required">
                          </mat-form-field>
                        </div>
                        <div fxFlex.gt-sm="30%" fxFlex="30">
                          <button mat-raised-button="mat-raised-button" color="accent" >Check IBAN</button>
                        </div>
                      </div>
                      <mat-form-field>
                        <mat-select placeholder="Account Type" name="actype" formControlName="actype">
                          <mat-option *ngFor="let x of actype" [value]="x">{{x}}</mat-option>
                        </mat-select>
                      </mat-form-field>
                      <mat-form-field>
                        <input matInput="matInput" placeholder="Your Name" formControlName="name" required="required" (keypress)='isChar($event)'>
                      </mat-form-field>
                      <mat-form-field>
                        <mat-select placeholder="Bank Document" name="bankdoctype" formControlName="bankdoctype">
                          <mat-option *ngFor="let y of bankdoctype" [value]="y">{{y}}</mat-option>
                        </mat-select>
                      </mat-form-field>
                      <mat-checkbox formControlName="isagreed">Agree Terms & conditions</mat-checkbox>
                      <div style="text-align: center;margin-top:5%;">
                        <button mat-raised-button="mat-raised-button" (click)="save('bankdetails','Saved Bank Details')" color="accent">Save</button>
                        <!-- <button mat-raised-button="mat-raised-button" color="accent">Cancel</button> -->
                      </div>
                    </mat-card-content>
                </mat-card>
              </div>
            </div>
          </div>
        </form>
      </div>
      <div fxFlex.gt-sm="33%" fxFlex="33" *ngIf='!isBankDescription'>
          <mat-card @card>
              <mat-card-header class="bg-primary text-white">
                  <mat-card-title-group>
                    <mat-card-title fxLayout="row">
                      Bank Details
                    </mat-card-title>
                  </mat-card-title-group>
              </mat-card-header>
              <mat-card-content>
                <div fxLayout="row" fxLayoutWrap="wrap">
                  <div fxFlex.gt-sm="100" fxFlex.gt-xs="100" fxFlex="100">
                    <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Donec ipsum massa, ullamcorper in, auctor et, scelerisque sed, est. In dapibus augue non sapien. Etiam neque. Fusce consectetuer risus a nunc. Nunc dapibus tortor vel mi dapibus sollicitudin. In enim a arcu imperdiet malesuada. Donec quis nibh at felis congue commodo. Phasellus faucibus molestie nisl. Pellentesque arcu. Duis risus. Maecenas lorem. Fusce tellus. Fusce tellus odio, dapibus id fermentum quis, suscipit id erat.</p>
                  </div>
                  <div fxFlex.gt-sm="100" fxFlex.gt-xs="100" fxFlex="100">
                      <button
                          mat-raised-button
                          color="warn"
                          class="btn-block btn-lg m-t-20 m-b-20"
                          (click)='isBankDescription = !isBankDescription' style="font-weight:bold;">
                          Add Bank Details
                      </button>
                  </div>
                </div>
              </mat-card-content>
          </mat-card>
      </div>
    </div>
    <div class="marubutton" *ngIf="hasdetails && isBankDescription">
      <button mat-fab color="warn" (click)="addNewForm('bankdetails')" style="background-color: #555682;">
        <mat-icon>add</mat-icon>
      </button>
    </div>
    </div>

    <div>
        <div fxLayout="row" fxLayoutWrap="wrap" style="width: 90%; overflow-x:auto;">
            <div fxFlex.gt-sm="33%" fxFlex="33" *ngIf='isCCDescription'>
              <form [formGroup]="mainform">
                <div formArrayName="ccinfo" style="display: flex;">
                  <div *ngFor="let address of mainform.controls.ccinfo.controls; let i=index; let isccinfo;" style="min-width:400px">
                    <div [formGroupName]="i">
                      <mat-card @card>
                        <mat-card-header class="bg-primary text-white">
                          <mat-card-title-group>
                            <mat-card-title fxLayout="row">
                                Credit Card Details
                            </mat-card-title>
                          </mat-card-title-group>
                          <div fxFlex="fxFlex"></div>
                          <button mat-fab color="warn" style="background-color: #f44336;" @card class="half-header" *ngIf="hasccdetails && isccinfo[i] && data.ccinfo[i]" (click)='removeForm(i, "ccinfo", "Removed Card Details")' >
                              <mat-icon class="mat-icon material-icons" role="img">delete</mat-icon>
                          </button>
                          <button mat-fab color="primary" style="background-color:grey !important;" @card class="half-header" *ngIf="hasccdetails && !isccinfo[i] && data.ccinfo[i]" (click)='isccinfo[i] = !isccinfo[i]' >
                              <mat-icon class="mat-icon material-icons" role="img">edit</mat-icon>
                          </button>
                          <button mat-fab color="warn" style="background-color: #f44336;" @card class="half-header" *ngIf="hasccdetails && !isccinfo[i] && !data.ccinfo[i]" (click)='removeForm(i, "ccinfo", "Removed Card Details")' >
                              <mat-icon class="mat-icon material-icons" role="img">delete</mat-icon>
                          </button>
                        </mat-card-header>
                        <mat-card-content *ngIf="!hasccdetails" style="text-align:center;">
                          <span>  Details not found,add your card details..</span>
                          <button mat-fab color="warn" style="background-color: #f44336;" (click)="hasccdetails=true;" style="background-color: #555682;margin-top:3%;">
                            <mat-icon>add</mat-icon>
                          </button>
                        </mat-card-content>
                        <mat-card-content *ngIf="hasccdetails && !isccinfo[i] && data.ccinfo[i]" style="text-align:center;">
                            <form class="example-form">
                                  <mat-form-field>
                                      <input matInput="matInput" placeholder="Name on Credit Card" disabled value="{{data.ccinfo[i].ccname}}" required="required" (keypress)='isChar($event)'>
                                  </mat-form-field>
                                  <mat-form-field>
                                      <input matInput="matInput" placeholder="Credit Card Number" disabled value="{{data.ccinfo[i].ccnumber}}" required="required" type='text' minLength='16' maxLength='16' oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);" >
                                  </mat-form-field>
                                  <mat-form-field style="max-width: 15%;">
                                      <mat-select placeholder="Month" name="expmonth" disabled value="{{data.ccinfo[i].expmonth}}">
                                          <mat-option *ngFor="let x of expmonth" [value]="x">{{x}}</mat-option>
                                      </mat-select>
                                  </mat-form-field>
                                  <mat-form-field style="max-width: 20%;">
                                      <mat-select placeholder="Year" name="expyear" disabled value="{{data.ccinfo[i].expyear}}">
                                          <mat-option *ngFor="let xy of expyear" [value]="xy">{{xy}}</mat-option>
                                      </mat-select>
                                  </mat-form-field>
                                  <!-- <mat-form-field style="max-width: 60%;">
                                      <input matInput="matInput" placeholder="Enter CVV" disabled value="{{data.ccinfo[i].cvvnumber }}" maxLength='3' oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);">
                                  </mat-form-field> -->
                            </form>
                          </mat-card-content>
                          <mat-card-content *ngIf="hasccdetails && isccinfo[i] && data.ccinfo[i]" @card>
                              <mat-form-field>
                                  <input matInput="matInput" placeholder="Name on Credit Card" formControlName="ccname" required="required" (keypress)='isChar($event)'>
                              </mat-form-field>
                              <mat-form-field>
                                  <input matInput="matInput" placeholder="Creadit Card Number" formControlName="ccnumber" required="required" type='text' minLength='16' maxLength='16' oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);" >
                              </mat-form-field>
                              <mat-form-field style="max-width: 15%;">
                                  <mat-select placeholder="Month" name="expmonth" formControlName="expmonth">
                                      <mat-option *ngFor="let x of expmonth" [value]="x">{{x}}</mat-option>
                                  </mat-select>
                              </mat-form-field>
                              <mat-form-field style="max-width: 20%;">
                                  <mat-select placeholder="Year" name="expyear" formControlName="expyear">
                                      <mat-option *ngFor="let xy of expyear" [value]="xy">{{xy}}</mat-option>
                                  </mat-select>
                              </mat-form-field>
                              <mat-form-field style="max-width: 60%;">
                                  <input matInput="matInput" placeholder="Enter CVV" formControlName="cvvnumber"  maxLength='3' oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);" >
                              </mat-form-field>
                              <div style="text-align: center;margin-top:5%;">
                                  <button mat-raised-button="mat-raised-button" [disabled]="!mainform.controls['ccinfo'].valid" (click)="save('ccinfo', 'Saved Card Details')" color="accent">Save</button>
                              </div>
                          </mat-card-content>
                          <mat-card-content *ngIf="hasccdetails && !isccinfo[i] && !data.ccinfo[i]" @card>
                              <mat-form-field>
                                  <input matInput="matInput" placeholder="Name on Credit Card" formControlName="ccname" required="required" (keypress)='isChar($event)'>
                              </mat-form-field>
                              <mat-form-field>
                                  <input matInput="matInput" placeholder="Creadit Card Number" formControlName="ccnumber" required="required" type='number' minLength='16' maxLength='16' oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);"  >
                              </mat-form-field>
                              <mat-form-field style="max-width: 15%;">
                                  <mat-select placeholder="Month" name="expmonth" formControlName="expmonth">
                                      <mat-option *ngFor="let x of expmonth" [value]="x">{{x}}</mat-option>
                                  </mat-select>
                              </mat-form-field>
                              <mat-form-field style="max-width: 20%;">
                                  <mat-select placeholder="Year" name="expyear" formControlName="expyear">
                                      <mat-option *ngFor="let xy of expyear" [value]="xy">{{xy}}</mat-option>
                                  </mat-select>
                              </mat-form-field>
                              <mat-form-field style="max-width: 60%;">
                                  <input matInput="matInput" placeholder="Enter CVV" formControlName="cvvnumber" maxLength='3' oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);">
                              </mat-form-field>
                              <div style="text-align: center;margin-top:5%;">
                                  <button mat-raised-button="mat-raised-button" [disabled]="!mainform.controls['ccinfo'].valid" (click)="save('ccinfo', 'Saved Card Details')" color="accent">Save</button>
                              </div>
                            </mat-card-content>
                      </mat-card>
                    </div>
                  </div>
                </div>
              </form>
            </div>
            <div fxFlex.gt-sm="33%" fxFlex="33" *ngIf='!isCCDescription'>
                <mat-card @card>
                    <mat-card-header class="bg-primary text-white">
                        <mat-card-title-group>
                          <mat-card-title fxLayout="row">
                              Credit Card Details
                          </mat-card-title>
                        </mat-card-title-group>
                    </mat-card-header>
                    <mat-card-content>
                      <div fxLayout="row" fxLayoutWrap="wrap">
                        <div fxFlex.gt-sm="100" fxFlex.gt-xs="100" fxFlex="100">
                          <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Donec ipsum massa, ullamcorper in, auctor et, scelerisque sed, est. In dapibus augue non sapien. Etiam neque. Fusce consectetuer risus a nunc. Nunc dapibus tortor vel mi dapibus sollicitudin. In enim a arcu imperdiet malesuada. Donec quis nibh at felis congue commodo. Phasellus faucibus molestie nisl. Pellentesque arcu. Duis risus. Maecenas lorem. Fusce tellus. Fusce tellus odio, dapibus id fermentum quis, suscipit id erat.</p>
                        </div>
                        <div fxFlex.gt-sm="100" fxFlex.gt-xs="100" fxFlex="100">
                            <button
                                mat-raised-button
                                color="warn"
                                class="btn-block btn-lg m-t-20 m-b-20"
                                (click)='isCCDescription = !isCCDescription' style="font-weight:bold;">
                                Add Credit Card  Details
                            </button>
                        </div>
                      </div>
                    </mat-card-content>
                </mat-card>
            </div>
          </div>
          <div class="marubutton1" *ngIf="hasccdetails && isCCDescription">
            <button mat-fab color="warn" (click)="addNewForm('ccinfo')" style="background-color: #555682;">
              <mat-icon>add</mat-icon>
            </button>
          </div>
    </div>
    <div>
        <div fxLayout="row" fxLayoutWrap="wrap" style="width: 90%; overflow-x:auto;">
            <div fxFlex.gt-sm="33%" fxFlex="33" *ngIf='isPPDescription'>
              <form [formGroup]="mainform">
                <div formArrayName="ppdetails" style="display: flex;">
                  <div *ngFor="let address of mainform.controls.ppdetails.controls; let i=index; let isppinfo;" style="min-width:400px">
                    <div [formGroupName]="i">
                      <mat-card @card >
                        <mat-card-header class="bg-primary text-white">
                          <mat-card-title-group>
                            <mat-card-title fxLayout="row">
                                PayPal Details
                            </mat-card-title>
                          </mat-card-title-group>
                          <div fxFlex="fxFlex"></div>
                          <!-- <button mat-fab color="primary" @card class="half-header" *ngIf="hasppdetails && isppinfo[i]" (click)='removeForm(i, "ppdetails", "Removed PayPal Details")'>
                              <mat-icon class="mat-icon material-icons" role="img">delete</mat-icon>
                          </button>
                          <button mat-fab color="primary" @card class="half-header" *ngIf="hasppdetails && !isppinfo[i]" (click)='isppinfo[i] = !isppinfo[i]' >
                              <mat-icon class="mat-icon material-icons" role="img">edit</mat-icon>
                          </button> -->
                          <button mat-fab color="warn" style="background-color: #f44336;" @card class="half-header" *ngIf="hasppdetails && isppinfo[i] && data.ppdetails[i]" (click)='removeForm(i, "ppdetails", "Removed PayPal Details")' >
                              <mat-icon class="mat-icon material-icons" role="img">delete</mat-icon>
                          </button>
                          <button mat-fab color="primary" style="background-color:grey !important;" @card class="half-header" *ngIf="hasppdetails && !isppinfo[i] && data.ppdetails[i]" (click)='isppinfo[i] = !isppinfo[i]' >
                              <mat-icon class="mat-icon material-icons" role="img">edit</mat-icon>
                          </button>
                          <button mat-fab color="warn" style="background-color: #f44336;" @card class="half-header" *ngIf="hasppdetails && !isppinfo[i] && !data.ppdetails[i]" (click)='removeForm(i, "ppdetails", "Removed PayPal Details")' >
                              <mat-icon class="mat-icon material-icons" role="img">delete</mat-icon>
                          </button>
                      </mat-card-header>
                      <mat-card-content *ngIf="!hasppdetails" style="text-align:center;">
                        <span>  Details not found,add your PayPal details..</span>
                        <button mat-fab color="warn" style="background-color: #f44336;" (click)="hasppdetails=true;" style="background-color: #555682;margin-top:3%;">
                          <mat-icon>add</mat-icon>
                        </button>
                      </mat-card-content>
                      <!-- <mat-card-content *ngIf="hasppdetails && !isppinfo[i]" style="text-align:center;">
                          <span> Details found,want to edit your PayPal details.</span>
                      </mat-card-content>
                      <mat-card-content *ngIf="hasppdetails && isppinfo[i]" @card>
                            <mat-form-field>
                                <input matInput="matInput" type="email" placeholder="Paypal Registered Email" formControlName="email" required="required">
                            </mat-form-field>
                            <mat-form-field>
                                <input matInput="matInput" type="password" placeholder="Paypal Password" formControlName="pwd" required="required">
                            </mat-form-field>
                            <div style="text-align: center;margin-top:5%;">
                                <button mat-raised-button="mat-raised-button" [disabled]="!mainform.controls['ppdetails'].valid" (click)="save('ppdetails', 'Saved PayPal Details')" color="accent">Save</button>
                            </div>
                      </mat-card-content> -->
                        <mat-card-content *ngIf="hasppdetails && !isppinfo[i] && data.ppdetails[i]" style="text-align:center;">
                            <form class="example-form">
                                <mat-form-field>
                                    <input matInput="matInput" type="email" placeholder="Paypal Registered Email" disabled value="{{data.ppdetails[i].email}}" required="required">
                                </mat-form-field>
                          </form>
                        </mat-card-content>
                        <mat-card-content *ngIf="hasppdetails && isppinfo[i] && data.ppdetails[i]" @card>
                            <mat-form-field>
                                <input matInput="matInput" type="email" placeholder="Paypal Registered Email" formControlName="email" required="required">
                            </mat-form-field>
                            <mat-form-field>
                                <input matInput="matInput" type="password" placeholder="Paypal Password" formControlName="pwd" required="required">
                            </mat-form-field>
                            <div style="text-align: center;margin-top:5%;">
                                <button mat-raised-button="mat-raised-button" [disabled]="!mainform.controls['ppdetails'].valid" (click)="save('ppdetails', 'Saved PayPal Details')" color="accent">Save</button>
                            </div>
                        </mat-card-content>
                        <mat-card-content *ngIf="hasppdetails && !isppinfo[i] && !data.ppdetails[i]" @card>
                            <mat-form-field>
                                <input matInput="matInput" type="email" placeholder="Paypal Registered Email" formControlName="email" required="required">
                            </mat-form-field>
                            <mat-form-field>
                                <input matInput="matInput" type="password" placeholder="Paypal Password" formControlName="pwd" required="required">
                            </mat-form-field>
                            <div style="text-align: center;margin-top:5%;">
                                <button mat-raised-button="mat-raised-button" [disabled]="!mainform.controls['ppdetails'].valid" (click)="save('ppdetails', 'Saved PayPal Details')" color="accent">Save</button>
                            </div>
                        </mat-card-content>
                      </mat-card>
                    </div>
                  </div>
                </div>
              </form>
            </div>
            <div fxFlex.gt-sm="33%" fxFlex="33" *ngIf='!isPPDescription'>
                <mat-card @card>
                    <mat-card-header class="bg-primary text-white">
                        <mat-card-title-group>
                          <mat-card-title fxLayout="row">
                              PayPal Details
                          </mat-card-title>
                        </mat-card-title-group>
                    </mat-card-header>
                    <mat-card-content>
                      <div fxLayout="row" fxLayoutWrap="wrap" >
                        <div fxFlex.gt-sm="100" fxFlex.gt-xs="100" fxFlex="100">
                          <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Donec ipsum massa, ullamcorper in, auctor et, scelerisque sed, est. In dapibus augue non sapien. Etiam neque. Fusce consectetuer risus a nunc. Nunc dapibus tortor vel mi dapibus sollicitudin. In enim a arcu imperdiet malesuada. Donec quis nibh at felis congue commodo. Phasellus faucibus molestie nisl. Pellentesque arcu. Duis risus. Maecenas lorem. Fusce tellus. Fusce tellus odio, dapibus id fermentum quis, suscipit id erat.</p>
                        </div>
                        <div fxFlex.gt-sm="100" fxFlex.gt-xs="100" fxFlex="100">
                            <button
                                mat-raised-button
                                color="warn"
                                class="btn-block btn-lg m-t-20 m-b-20"
                                (click)='isPPDescription = !isPPDescription' style="font-weight:bold;">
                                Add PayPal Details
                            </button>
                        </div>
                      </div>
                    </mat-card-content>
                </mat-card>
            </div>
          </div>
          <div class="marubutton2" *ngIf="hasppdetails && isPPDescription">
            <button mat-fab color="warn" (click)="addNewForm('ppdetails')" style="background-color: #555682;">
              <mat-icon>add</mat-icon>
            </button>
          </div>
    </div>
