mat-cell.buy.mat-cell.cdk-column-fees.mat-column-fees.ng-star-inserted.ng-star-inserted {
    color: green;
}
mat-cell.sell.mat-cell.cdk-column-fees.mat-column-fees.ng-star-inserted.ng-star-inserted {
    color: red;
}
mat-cell.BUY.mat-cell.cdk-column-fees.mat-column-fees.ng-star-inserted.ng-star-inserted {
    color: green;
}
mat-cell.SELL.mat-cell.cdk-column-fees.mat-column-fees.ng-star-inserted.ng-star-inserted {
    color: red;
}